$primary-color: #3498db;
$secondary-color: #1071b3;
$secondary-color-back:#004e83;
$danger-color: #e74c3c;
$dark-text: #34495e;
$light-text: #ecf0f1;
$background-color: #ecf0f1;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;

  form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;

    h2 {
      margin-bottom: 20px;
      font-size: 1.5rem;
      color: #333;
      text-align: center;
    }

    .p-float-label {
      position: relative;
      width: 100%;
      margin-top: 20px;

      i.pi {
        position: absolute;
        left: 8px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.2rem;
        color: #555;
      }

      input {
        width: 100%;
        padding: 15px;
        padding-left: 40px;
        font-size: 1rem;
        border: none;
        border-bottom: 2px solid $primary-color;
        background-color: transparent;
        color: $dark-text;
        transition: border-color 0.3s;

        &:focus {
          outline: none;
          border-bottom: 2px solid $secondary-color;
        }
      }

      label {
        font-size: 0.8rem;
        color: #777;
      }
    }

    small.text-red-500 {
      margin-top: 5px;
      font-size: 0.8rem;
      color: #e74c3c;
    }

    .button-style {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      button.button {
        width: 100%;
        justify-content: center;
        background-color: #3498db;

        &:hover {
          background-color: $secondary-color-back;
        }
      }

      button.custom-button {
        background-color:$secondary-color;
        color: #fff;

        &:hover {
          background-color: $secondary-color-back;
        }
      }
    }
  }
}
