<div class="container">
  <form [formGroup]="userFormLogin">
    <div
      class="block justify-content-center align-content-center text-2xl"
      style="background: transparent"
    >
      <h2>Orion Innovation</h2>
    </div>
    <span class="p-float-label mt-4">
      <i class="pi pi-user" style="color: #000;"></i>
      <input
        pInputText
        id="username"
        formControlName="username"
        pTooltip="{{ 'loginForm.usernameTooltip' | transloco }}"
      />
      <label htmlFor="username">{{
        "loginForm.usernameLabel" | transloco
      }}</label>
    </span>
    <small
      *ngIf="
        userFormLogin.get('username')?.invalid &&
        userFormLogin.get('username')?.touched
      "
      class="text-red-500"
    >
      {{
        userFormLogin.get("username").errors != null &&
        userFormLogin.get("username").errors["whitespace"]
          ? ("registerForm.usernameSmall" | transloco)
          : ""
      }}
      {{
        userFormLogin.get("username").errors != null &&
        userFormLogin.get("username").errors["required"]
          ? ("registerForm.usernameSmall" | transloco)
          : ""
      }}
    </small>
    <span class="p-float-label mt-4">
      <i class="pi pi-lock" style="color: #000;"></i>
      <p-password
        id="password"
        formControlName="password"
        pTooltip="{{ 'loginForm.passwordTooltip' | transloco }}"
      ></p-password>
      <label htmlFor="password">{{
        "loginForm.passwordLabel" | transloco
      }}</label>
    </span>
    <small
      *ngIf="
        userFormLogin.get('password')?.invalid &&
        userFormLogin.get('password')?.touched
      "
      class="text-red-500"
    >
      {{
        userFormLogin.get("password").errors != null &&
        userFormLogin.get("password").errors["whitespace"]
          ? ("registerForm.passwordSmall" | transloco)
          : ""
      }}
      {{
        userFormLogin.get("password").errors != null &&
        userFormLogin.get("password").errors["required"]
          ? ("registerForm.passwordSmall" | transloco)
          : ""
      }}
      <!-- {{userFormLogin.get('password')?.value.lenght() < 8 ? ("Şifre en az 8 karakter uzunluğunda olmalıdır") : '' }} -->
    </small>
    <span class="mt-4">
      <div class="remember-forget">
        <div
          class="flex flex-row justify-content-center align-content-center align-items-center"
        >
          <div>
            <input
              id="remember"
              name="remember"
              type="checkbox"
              style="width: 15px; height: 15px"
            />
          </div>
          <div>
            <label for="remember"> Beni hatırla</label>
          </div>
        </div>
        <div>
          <a routerLink="/reset-password">Parolanızı mı unuttunuz?</a>
        </div>
      </div>
    </span>
    <span class="button-style mt-4">
      <button class="button w-12rem" (onClick)="onSubmitLogin()">
        {{ "loginForm.buttonLabel" | transloco }}
      </button>
    </span>
    <span
      class="register-span flex flex-row mt-2 justify-content-between align-content-center align-items-center"
    >
      <p>Hesabınız yok mu?</p>
      <a routerLink="/register">Şimdi oluştur!</a>
    </span>
  </form>
</div>
<div
    class="flex align-items-center font-bold text-center py-6 border-round  justify-content-center align-self-center w-14"
  >
    <div class="container-social ">
      <div class="header-social">
        <h3>{{ "startForm.headerSocial" | transloco }}</h3>
      </div>
      <div class="description-social">
        <p>{{ "startForm.descSocialOne" | transloco }}</p>
        <p>{{ "startForm.descSocialTwo" | transloco }}</p>
      </div>
      <div class="icon-social flex">
        <a href="/login">
          <div
            class="flex-1 font-bold text-center p-4 "
          >
            <i class="pi pi-google"></i>
            <p>{{ "startForm.piGoogle" | transloco }}</p>
          </div>
        </a>
        <a href="/login">
          <div
            class="flex-1 font-bold text-center p-4 "
          >
            <i class="pi pi-apple"></i>
            <p>{{ "startForm.piApple" | transloco }}</p>
          </div>
        </a>
        <a href="/login">
          <div
            class="flex-1 font-bold text-center p-4 "
          >
            <i class="pi pi-facebook"></i>
            <p>{{ "startForm.piFacebook" | transloco }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
