.p-component {
  justify-content: center;
}
.error-border {
  border: 1px solid red;
}

a {
  text-decoration: underline;
  color: #000;
}
a:hover{
  color:#176b87;
}

.container {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 15px;
  display: flex;
  background: transparent;
}

.container form {
  display: flex;
  flex-direction: column;
  width: 600px;
  background-color: transparent;
  margin: 15px;
  padding: 50px;
  justify-content: center;
  align-items: center;
}

.remember-forget {
  margin: 0;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.remember-forget label {
  margin-right: 10px;
  color: #000;
  font-size: 15px;
  cursor: pointer;
}

.remember-forget a {
  text-decoration: underline;
}
.remember-forget a:hover {
  color: #176b87;
}
.register-span p {
  margin: 10px;
}

.flex .container-social{
  padding:10px;
 }

 .flex-1{
  border-color: #000;
  border: 2px solid rgb(0, 0, 0);
  margin: 2px;
  border-radius: 10px;
  margin-bottom: 10px;
 }

 .pi-google{
   background: conic-gradient(from -45deg, #ea4335 100deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
   -webkit-background-clip: text;
   background-clip: text;
   color: transparent;
   -webkit-text-fill-color: transparent;
   width: 45px;
   height: 25px;
 }
 .pi-apple{
   color: black;
   width: 65px;
   height: 25px;
 }

 .pi-facebook{
   color: blue;
   width: 45px;
   height: 25px;
 }

 .icon-social{
   justify-content: center;
 }

 .text-important button{
   margin-top: 20px;
 }
