
<div class="flex w-full h-full">
  <div
    class="block align-items-center justify-content-center bg-white font-bold m-2 px-5 py-3 border-round"
  >
    <div class="header-title block w-full m-3">
      <h3>{{'helpsupportForm.header' | transloco}}</h3>
    </div>
    <div class="block m-3 justify-content-center align-content-center align-items-center">
    <div class="card justify-content-center">
      <p-accordion [activeIndex]="0" styleClass="accordion">
        <p-accordionTab header="{{'helpsupportForm.accordion1' | transloco}}">
          <p>
            1. İptal ettiğiniz ürünün ücret iadesi bankanıza bağlı olarak değişkenlik
            gösterebilir. Bu süre yaklaşık 1 haftayı bulabilir. 2. İade ettiğiniz
            ürünün ücret iade süreci aşağıdaki gibidir; • Ürün satıcıya ulaştıktan
            sonra en geç 48 saat içerisinde iade şartlarına uygunluğu kontrol edilir.
            • Ürün iade şartlarına uygunsa, iadeniz onaylanır ve ücret iadeniz
            bankanıza bağlı olarak 2-10 iş günü içerisinde ödeme yapmış olduğunuz
            kartınıza yansır. • Ürün iade şartlarına uygun değilse adresinize geri
            gönderilir. Not: • Bankanıza ücret iadesi yapıldığında üyelik e-posta
            adresinize bilgilendirme mesajı gönderilir. Tutarın kartınıza/hesabınıza
            yansıma süresi bankanıza bağlıdır. • Banka kartına yapılan iadenlerin
            hesabınıza yansıma süresi daha uzundur. • Bankanızdan ücret iadesi
            kontrolü yapmak için “Hesabım” > “Siparişlerim“ adımından referans
            numaranızı görüntüleyebilirsiniz. • Taksitli yapılan alışverişlerin ücreti
            bankaya tek seferde ödenir ancak bankanız bu tutarı kredi kartınıza
            taksitli bir şekilde iade eder.
          </p>
        </p-accordionTab>
        <p-accordionTab
          header="{{'helpsupportForm.accordion2' | transloco}}"
        >
          <p>
            • Ana sayfada yer alan "Hesabım" bölümünde bulunan “Siparişlerim“
            sekmesinden siparişinizin durumunu kontrol edin. • Eğer siparişiniz
            “Siparişiniz Alındı” ya da “Siparişiniz Hazırlanıyor” statüsünde ise
            aşağıdaki kanaldan talebinizi bize iletin. “Hesabım” bölümünde “Yardım“
            sekmesinde yer alan “Canlı Yardıma Bağlan” butonu • Eğer siparişiniz
            “Kargoya Verildi” statüsündeyse alıcı ve/veya adres değişikliğini kargo
            firmaları da sadece belli bir süre içerisinde yapabilir. Değişiklik
            talebinizi iki şekilde iletebilirsiniz.
          </p>
        </p-accordionTab>
        <p-accordionTab header="{{'helpsupportForm.accordion3' | transloco}}">
          <p>
            • Satın aldığınız ürünler Hesabım->Siparişlerim->Sipariş Detay sayfasında
            belirtilen teslimat tarih aralığında teslim edilir. • Üründe “Hızlı
            Teslimat” etiketi bulunuyorsa siparişiniz en geç bir sonraki iş günü
            kargoya verilir. “Bugün Kargoda” etiketi bulunuyorsa siparişiniz aynı gün
            içerisinde kargoya verilir. • Sipariş dağıtıma çıktığında kargo firması
            tarafından SMS ile bilgilendirilirsiniz. • Kargoya verildikten sonra
            siparişinizin kargo aşamalarını Hesabım->Siparişlerim->Sipariş Detay
            sayfasında bulunan "Kargom Nerede?" linkinden takip edebilirsiniz.
          </p>
        </p-accordionTab>
        <p-accordionTab header="{{'helpsupportForm.accordion4' | transloco}}">
          <p>
            Yanlış ürün sipariş ettiyseniz veya fikrinizi değiştirdiyseniz
            ürünlerinizin kargo hazırlıkları başlamadan önce aşağıdaki şekilde kolayca
            iptal edebilirsiniz. 1. “Siparişlerim” > “Detaylar/Sipariş Detayı” >
            “Sipariş İptal” adımlarını takip ederek. 2. “Hesabım” bölümünde yer alan
            “Yardım” adımından “Canlı Yardıma Bağlan” a tıkladığınızda açılan sayfada
            “İptal ve İade” yi seçerek. Ürünleriniz kargolanmak üzere hazırlanmaya
            başlandıysa (faturanız kesildiyse) veya kargoya verildiyse iptal edilemez.
            Bu durumda ürünü teslim aldığınızda iade edebilirsiniz. İPUCU: Ücret iade
            işlemleri 2 iş günü içerisinde tamamlanır. İadeniz tamamlanıp bankanıza
            iadeniz yapıldığında email ile bilgilendirilirsiniz.
          </p>
        </p-accordionTab>
        <p-accordionTab
          header="{{'helpsupportForm.accordion5' | transloco}}"
        >
          <p>
            Ürün özellikleri ile ilgili olan sorularınızı ürünün altında yer alan
            Satıcı Soruları bölümünü tıklayarak sorabilir, siparişiniz ile ilgili
            sorularınızı veya taleplerinizi Sipariş Detay'da yer alan Soru Sor
            bölümünden iletebilirsiniz.
          </p>
        </p-accordionTab>
      </p-accordion>
    </div>
    <div class="card justify-content-center align-content-center ">
     <span class="button-style">
      <button pButton [routerLink]="['/pages/product']" class="button w-full justify-content-center mt-2">{{'helpsupportForm.buttonLabel' | transloco}}</button>
     </span>
    </div>
    </div>
  </div>
</div>

