$primary-color: #3498db;
$secondary-color: #1071b3;
$danger-color: #e74c3c;
$dark-text: #34495e;
$light-text-second: #c0ddfb;
$light-text: #ecf0f1;
$light-text-hover: #91c9d7;
$background-color: #ecf0f1;
.card {
  width: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.product-id {
  text-decoration: none;
  color: black;
}
.search {
  position: relative;
  z-index: 1;
}

.product-card{
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  height: 500px;
  width: 300px;

  &:hover {
    transform: translateY(-5px);
  }
}

.card {
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .product-id {
    text-decoration: none;
    color: inherit;
  }

  .listItem,
  .gridItem {
    a {
      color: inherit;
      text-decoration: none;

      .border-round {
        border-radius: 8px;
      }

      .surface-border {
        border: 1px solid #ddd;

      }

      .surface-card {
        background-color: #fff;

      }

      img {
        max-width: 100%;
        height: auto;
      }

      .p-rating {
        margin-top: 10px;
      }

      button {
        margin-top: 10px;
      }
    }
  }

  .listItem {
    .product-id {
      .flex {
        flex-direction: column;
      }

      .align-items-center {
        align-items: center;
      }

      .justify-content-between {
        justify-content: space-between;
      }

      .align-self-end {
        align-self: flex-end;
      }

      .text-2xl {
        font-size: 1.5rem;
      }
    }
  }

  .gridItem {
    .p-2 {
      padding: 8px;
    }

    .col-12 {
      width: 100%;

    }

    .col-6 {
      width: 50%;
    }

    .col-12,
    .col-6 {
      padding: 8px;
    }

    .py-5 {
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
    }

    .gap-2 {
      gap: 0.5rem;
    }

    .gap-3 {
      gap: 0.75rem;
    }

    .gap-4 {
      gap: 1rem;
    }

    .flex-wrap {
      flex-wrap: wrap;
    }
  }

  @media (max-width: 767px) {
    .flex {
      flex-direction: column;
    }
  }
}

:host ::ng-deep {
  .p-rating{
    .p-icon {
      color: RGB(255, 170, 74);
    }
  }
  .p-button-rounded{
    background-color: $secondary-color;
    border: $primary-color;

    &:hover{
      background-color: $primary-color;
    }
  }

  .p-dataview-layout-options{
    .p-button{
      background-color: $secondary-color;
      border:none;
      color:#fff;
    }
  }

   .p-dataview-header {
    background-color: $secondary-color;
      border:none;
      color:#fff;
   }
}

