$primary-color: #3498db;
$secondary-color: #1071b3;
$danger-color: #e74c3c;
$dark-text: #34495e;
$light-text-second: #c0ddfb;
$light-text: #ecf0f1;
$light-text-hover: #91c9d7;
$background-color: #ecf0f1;


.card{
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 3px;

}

.search{
  margin-bottom: 1rem;
  width: 100%;


  .pi-search{
    color: #555;
    font-size: 1rem;
  }
}

.category-filter{
  max-width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 16px;
  padding: 16px;
  border-right: 1px solid #d5d6d8;


  .title{
    border: none;
    background-color: transparent;
    justify-content: flex-start;
  }

  div{
    width: 100%;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    margin: 15px;
    text-align: start;
    justify-content: flex-start;
    align-items: center;
    border:none;
  }
}

.product-card {
  width: 200px;
  margin: 1px;
  padding: 16px;
  max-height: 350px;
  background-color: #ffffff;
  box-shadow: 0 0 10px $dark-text;
  border-radius: 8px;
  cursor: pointer;

  .product-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    img {
      max-width: 100%;
      max-height: 150px;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  .product-info {
    margin-top: 16px;

    .product-title {
      font-size: 1rem;
      margin-bottom: 8px;
    }

    .product-description {
      margin-bottom: 16px;
      font-size: 0.8rem;
    }

    .product-price {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 16px;
    }
    .add-to-cart[disabled] {
      background-color: transparent;
      color: #555;
      font-weight: 600;

      &:hover {
        background-color:transparent;
      }
    }
    .add-to-cart {
      display: block;
      width: 100%;
      padding: 8px;
      background-color:$dark-text;;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: #3b3d3f;
      }
    }
    .more-cart {
      display: block;
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      background-color: $dark-text;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: #3b3d3f;
      }
    }
  }
}



:host ::ng-deep{


  .p-dialog .p-dialog-header , .p-dialog-content{
    background:$background-color;
    backdrop-filter: blur(1px);
    border: $dark-text 2px solid;
    width: 60vw;
    margin: 0;

  }
  .p-dialog .p-dialog-header .p-dialog-header-icon{
    color: #000;
  }
  .p-rating{
    .p-icon{
      color: RGB(255,170,74);
      width: 10px;
    }
  }

  .search {
    .p-inputtext{
      width: 1030px;
      background-color: #d5d6d8ef;
      border: 1px solid #d5d6d8;
      @media screen and (max-width: 768px) {
       max-width:300px;
      }
    }

    .p-icon{
      color: #3b3d3f;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card {
    min-height: auto;
  }

  .product-container {
    justify-content: center;
  }

  .search {
    width: 100%;
    top: 0;
    position: static;
    margin-bottom: 16px;
  }

  .category-filter {
    border-right: none;
  }
}

@media screen and (min-width: 376px) and (max-width: 767px) {
  .card {
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding: 10;
  }

  .product-container {
    justify-content: center;
  }

  .product-card {
    width: 280px;
    margin: 1px;
    padding: 10px;
    max-height: 350px;
    background-color: #ffffff;
    box-shadow: 0 0 10px $dark-text;
    border-radius: 8px;
    cursor: pointer;

    .product-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 150px;
      img {
        max-width: 100%;
        max-height: 150px;
        object-fit: cover;
        border-radius: 8px;
      }
    }

    .product-info {
      margin-top: 16px;

      .product-title {
        font-size: 1rem;
        margin-bottom: 8px;
      }

      .product-description {
        margin-bottom: 16px;
        font-size: 0.8rem;
      }

      .product-price {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 16px;
      }
      .add-to-cart[disabled] {
        background-color: transparent;
        color: #555;
        font-weight: 600;

        &:hover {
          background-color:transparent;
        }
      }
      .add-to-cart {
        display: block;
        width: 100%;
        padding: 8px;
        background-color:$dark-text;;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;

        &:hover {
          background-color: #3b3d3f;
        }
      }
      .more-cart {
        display: block;
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        background-color: $dark-text;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;

        &:hover {
          background-color: #3b3d3f;
        }
      }
    }
  }

  .search {
    width: 100%;
    top: 0;
    position: static;
    margin-bottom: 16px;
  }

  .category-filter {
    display: none;
    max-width: 100%;

    div{
      width: 70%;
      font-size: 0.9rem;
      color: #555;
      text-align: start;
      justify-content: flex-start;
      align-items: center;
      border:none;

    }
  }
}

@media screen and (max-width: 375px) {
  .card {
    min-height: auto;

  }

  .product-container {
    justify-content: center;
  }

  .search {
    width: 100%;
    top: 0;
    position: static;
    margin-bottom: 16px;

    div{
      width: 100px;
    }
  }

  .category-filter {
    border-right: none;
    display: none;
  }

  .product-card {
    width: 300px;
    margin: 1px;
    padding: 16px;
    max-height: 350px;
    background-color: #ffffff;
    box-shadow: 0 0 10px $dark-text;
    border-radius: 8px;
    cursor: pointer;

    .product-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 150px;
      img {
        max-width: 100%;
        max-height: 150px;
        object-fit: cover;
        border-radius: 8px;
      }
    }

    .product-info {
      margin-top: 16px;

      .product-title {
        font-size: 1rem;
        margin-bottom: 8px;
      }

      .product-description {
        margin-bottom: 16px;
        font-size: 0.8rem;
      }

      .product-price {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 16px;
      }
      .add-to-cart[disabled] {
        background-color: transparent;
        color: #555;
        font-weight: 600;

        &:hover {
          background-color:transparent;
        }
      }
      .add-to-cart {
        display: block;
        width: 100%;
        padding: 8px;
        background-color:$dark-text;;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;

        &:hover {
          background-color: #3b3d3f;
        }
      }
      .more-cart {
        display: block;
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        background-color: $dark-text;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;

        &:hover {
          background-color: #3b3d3f;
        }
      }
    }
  }
}
