<div class="card flex flex-row">
  <div>
    <div class="category-filter flex">
      <div class="title">
        <h3>{{ "cardForm.title" | transloco }}</h3>
      </div>
      <div (click)="getAllProducts()">
        {{ "cardForm.allProducts" | transloco }}
      </div>
      <div (click)="getProductByFilter('Accessories')">
        {{ "cardForm.Accessories" | transloco }}
      </div>
      <div (click)="getProductByFilter('Electronics')">
        {{ "cardForm.Electronics" | transloco }}
      </div>
      <div (click)="getProductByFilter('Clothing')">
        {{ "cardForm.Clothing" | transloco }}
      </div>
      <div (click)="getProductByFilter('Fitness')">
        {{ "cardForm.Fitness" | transloco }}
      </div>
      <div (click)="getProductByFilter('Man')">
        {{ "Male" | transloco }}
      </div>
      <div (click)="getProductByFilter('Women')">
        {{ "Female" | transloco }}
      </div>
    </div>
  </div>
  <div class="flex flex-column w-full">
    <div class="search">
      <div class="p-input-icon-left search-text mr-3">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          [(ngModel)]="searchText"
          placeholder="{{'cardForm.search' | transloco}}"
        />
      </div>
    </div>
    <p-dataView
      [value]="filterProducts()"
      [layout]="layout"
      [filterBy]="searchText"
      [paginator]="true"
      [rows]="10"
      [sortField]="sortField"
      [sortOrder]="sortOrder"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
    >
      <ng-template let-product pTemplate="gridItem">
        <div class="flex flex-row">
          <div class="product-container">
            <div class="product-card">
              <div class="product-image" [routerLink]="['/pages/product', product.id]">
                <img [src]="getFileUrl(product.file)" alt="Product Image" />
              </div>
              <div class="product-info">
                <h2 class="product-title">
                  {{ product.name | truncate : 22 }}
                </h2>
                <div class="flex flex-row justify-content-between">
                  <p class="product-description">
                    {{ product.category.name | categoryStatus }}
                  </p>
                  <p class="product-description">
                    <p-tag
                      [value]="product?.selectedStatus.name | stockStatus"
                      [severity]="getSeverity(product)"
                    ></p-tag>
                  </p>
                </div>
                <!-- <div class="flex flex-row justify-content-between">
          <p class="product-description">
            {{ product.description | truncate : 50 }}
          </p>
        </div> -->
                <div
                  class="product-price flex flex-row flex-auto justify-content-between"
                >
                  <p>{{ product.priceStacked | currency : "USD" }}</p>
                  <p-rating
                    [ngModel]="product.valueRating"
                    [readonly]="true"
                    [cancel]="false"
                    styleClass="rating"
                  ></p-rating>
                </div>
                <!-- <button class="more-cart" [routerLink]="['/pages/product', product.id]">
          More +
        </button> -->
                <button
                  class="add-to-cart"
                  *ngIf="isOutOfStock(product)"
                  [class.disabled]="isOutOfStock(product)"
                  [ngClass]="{ 'no-hover': isOutOfStock(product) }"
                  [disabled]="isOutOfStock(product)"
                >
                  {{'cardForm.notStock' | transloco}}
                </button>
                <button
                  class="add-to-cart"
                  *ngIf="!isOutOfStock(product)"
                  (click)="addToCart(product , product.id)"
                >
                  {{ "cardForm.buttonLabel" | transloco }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>
</div>
