.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.app-header{
  padding-left:100px;
  padding-right:100px;
}

.app-content{
  padding-left:90px;
  padding-right:100px;
}

.app-footer{
  margin-top: auto ;
}
