.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.app-content {
  padding:10px;

}

.app-footer {
  margin-top: auto; /* Footer'ı en alta sabitler */
}
