<ul class="layout-menu">
  <li>
    <div [routerLink]="['/admin','users-management']">

      <h6>
        <i class="pi pi-user"></i> User-Mangement
      </h6>
    </div>
  </li>
  <li>
    <div [routerLink]="['/admin','product-management']">
      <h6>
        <i class="pi pi-database"></i> Product-Mangement
      </h6>
    </div>
  </li>
  <li>
    <div [routerLink]="['/admin','wait-list']">
      <h6>
        <i class="pi pi-users"></i> Wait List Users
      </h6>
    </div>
  </li>
  <li>
    <div [routerLink]="['/admin','orders-management']">
      <h6>
        <i class="pi pi-clone"></i> Orders-Mangement
      </h6>
    </div>
  </li>
  <li>
    <div [routerLink]="['/admin','statics']">
      <h6>
        <i class="pi pi-chart-line"></i> Statics
      </h6>
    </div>
  </li>
</ul>
