<div class="card">
  <h2>{{ "dGetorders.headerproduct" | transloco }}</h2>
  <p-table
    [value]="products"
    dataKey="name"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [tableStyle]="{ 'min-width': '60rem' }"
  >
    <ng-template pTemplate="header">
      <tr class="main">
        <th pSortableColumn="name">{{'aGetProduct.name' | transloco}}</th>
        <th>{{'aGetProduct.image' | transloco}}</th>
        <th pSortableColumn="price">{{'aGetProduct.price' | transloco}}</th>
        <th pSortableColumn="category">{{'aGetProduct.category' | transloco}}</th>
        <th pSortableColumn="rating">{{'aGetProduct.rating' | transloco}}</th>
        <th pSortableColumn="inventoryStatus">{{'aGetProduct.status' | transloco}}</th>
        <th>{{'aGetProduct.actions' | transloco}}</th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-product
      let-expanded="expanded"
      let-editing="editing"
      let-ri="rowIndex"
    >
      <tr [pEditableRow]="product">
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="product.name" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.name }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="file" [(ngModel)]="product.file" />
            </ng-template>
            <ng-template pTemplate="output">
              <img
                [src]="getFileUrl(product?.file)"
                [alt]="product.name"
                width="50"
                class="shadow-4"
              />
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                [(ngModel)]="product.priceStacked"
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.priceStacked | currency : "USD" }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                [(ngModel)]="product.category.name"
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.category.name | categoryStatus }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-rating
            [ngModel]="product.valueRating"
            [readonly]="true"
            [cancel]="false"
          ></p-rating>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                [(ngModel)]="product.selectedStatus.name"
              />
            </ng-template>
            <ng-template pTemplate="output">
              <p-tag
                [value]="product.selectedStatus.name | stockStatus"
                [severity]="getSeverity(product.selectedStatus.name)"
              ></p-tag>
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <div class="flex align-items-center justify-content-center gap-2">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-trash"
              (click)="deleteProduct(product)"
              class="p-button-rounded p-button-text trash"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
