<div class="container">
  <form [formGroup]="userResetForm">
    <div
      class="block justify-content-center align-content-center text-2xl"
      style="background: transparent"
    >
      <h2>Orion Shop</h2>
    </div>
    <span class="p-float-label mt-4">
      <i class="pi pi-envelope"></i>
      <input
        pInputText
        id="email"
        formControlName="email"
        pTooltip="{{ 'resetForm.emailTooltip' | transloco }}"
      />
      <label htmlFor="email">{{ "resetForm.emailLabel" | transloco }}</label>
    </span>
    <small
      *ngIf="
        userResetForm.get('email')?.invalid &&
        userResetForm.get('email')?.touched
      "
      class="text-red-500"
    >
      {{
        userResetForm.get("email").errors != null &&
        userResetForm.get("email").errors["whitespace"]
          ? ("resetForm.emailSmall" | transloco)
          : ""
      }}

      {{
        userResetForm.get("email").errors != null &&
        userResetForm.get("email").errors["required"]
          ? ("resetForm.emailSmall" | transloco)
          : ""
      }}
    </small>
    <span class="button-style mt-4">
      <button pButton class="button" (click)="sendCode()">
        {{ "resetForm.buttonLabelNew" | transloco }}
      </button>
    </span>
    <span class="button-style mt-4">
      <button
        pButton
        class="button custom-button"
        [routerLink]="['/login']"
      >
        {{ "resetForm.buttonLabelBack" | transloco }}
      </button>
    </span>
  </form>
</div>
