/* sidebar.scss */

.container {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  background-color: #fff; /* Yan menü arkaplan rengi */
  color: #000; /* Yan menü metin rengi */
  padding: 20px;
  height: 100%;
}

.flex {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease; /* Geçiş efekti */
}

.router-link {
  text-decoration: none;
  color: inherit;
  margin-left: 10px; /* İstediğiniz boşluk miktarı */
  background-color: #343434;
}
