/* Stil dosyası (örneğin, styles.scss) */
$primary-color: #3498db;
$secondary-color: #1071b3;
$danger-color: #e74c3c;
$dark-text: #34495e;
$light-text: #ecf0f1;
$light-text-hover: #91c9d7;
$background-color: #ecf0f1;
$module-color:#253741;
/* Dialog Penceresi */

.card{
  background: $module-color;
  border: 0.1px solid ;

  h2{
    color: $background-color;
  }
}
:host ::ng-deep{

  .role-dropdown{
    width: 100%;
    border: 1px solid $module-color;
  }

  .p-paginator{
    background: $module-color;
    color: $background-color;

    span , button , icon , i , .p-icon{
      color: $background-color;

    }

    .p-ripple , .p-paginator-rpp-options{
      color: $module-color;

      span{
        color: $module-color;

      }
    }
  }

  .p-datatable-header{
    background: $module-color;
  }

  .p-column-filter{
    width: 100%;
  }
  .p-dialog{
    width: 600px;
    background-color: $module-color;
  }
  .p-button-add{
    position: relative;
    background: $background-color;
    border: none;
    color: $module-color;
    width: 150px;
    font-size: 12px;
  }
  thead{
    background: $module-color;
    tr{
      width: 100%;
      background: $module-color;
      color: $background-color;
      th{
        width: 100px;
        text-align: center;
        background: $module-color;
        .p-column-filter{
          width: 100%;
          button{
            display:none;
          }
          input{
            width: 150px;
          }
        }
      }
    }

  }
  tbody{
    tr{
      justify-content: center;
      td{
        justify-content: center;
        text-align: center;
        background: $module-color;
        color: $background-color;
        font-weight: 700;
        letter-spacing: 0.7px;
      }
    }
  }
  th{
    background: $module-color;
    color: $background-color;
  }

  .p-icon{
    color: #666;
  }

  .p-dropdown-trigger{
    .p-icon{
      color: #666;
    }
  }
  .p-button-text{
    color:$secondary-color;

  }


  .trash{
    color: $danger-color;
  }

}


.p-field {
  margin-bottom: 1.5rem;
}


label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}


form{
  .p-inputtext {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid $module-color;
    border-radius: 0.25rem;
  }
}
.p-input-icon-left {
  display: flex;
  align-items: center;
}

.p-input-icon-left .pi {
  margin-right: 5px;
}
.p-dropdown {
  width: 100%;
  margin-top: 0.5rem;
  border: 1px solid $module-color;
}

.p-button {
  margin-right: 0.5rem;
}

.p-button-success {
  background-color: #28a745;
  justify-content: center;
  width: 48%;
  margin: 5px;
  color: #fff;
}

.p-button-danger {
  background-color: #dc3545;
  justify-content: center;
  width: 48%;
  margin: 5px;
  color: #fff;
}
