/* Stil dosyası (örneğin, styles.scss) */
$primary-color: #3498db;
$secondary-color: #1071b3;
$danger-color: #e74c3c;
$dark-text: #34495e;
$light-text: #ecf0f1;
$light-text-hover: #91c9d7;
$background-color: #ecf0f1;
$module-color:#253741;
/* Dialog Penceresi */

.card{
  background: $module-color;
  border: 0.1px solid ;

  h2{
    color: $background-color;
  }
}
:host ::ng-deep{

  .p-paginator{
    background: $module-color;
    color: $background-color;

    span , button , icon , i , .p-icon{
      color: $background-color;

    }

    .p-ripple , .p-paginator-rpp-options{
      color: $module-color;

      span{
        color: $module-color;

      }
    }
  }

  .p-datatable-header{
    background: $module-color;
  }

  .p-column-filter{
    width: 100%;
  }
  .p-dialog{
    width: 400px;
    background-color: $module-color;
  }
  .p-button-add{
    position: relative;
    background: $background-color;
    border: none;
    color: $module-color;
    width: 150px;
    font-size: 12px;
  }
  thead{
    background: $module-color;
    tr{
      width: 100%;
      background: $module-color;
      color: $background-color;
      th{
        width: 100px;
        text-align: center;
        background: $module-color;
        .p-column-filter{
          width: 100%;
          button{
            display:none;
          }
          input{
            width: 150px;
          }
        }
      }
    }

  }
  tbody{
    tr{
      justify-content: center;
      td{
        justify-content: center;
        text-align: center;
        background: $module-color;
        color: $background-color;
      }
    }
  }
  th{
    background: $module-color;
    color: $background-color;
  }

  .p-icon{
    color: #666;
  }

  .p-dropdown-trigger{
    .p-icon{
      color: #666;
    }
  }
  .p-button-text{
    color:$secondary-color;

  }


  .trash{
    color: $danger-color;
  }

}

/* Form Alanları */
.p-field {
  margin-bottom: 1.5rem; /* Form alanları arasındaki boşluk */
}

/* Label Stilleri */
label {
  display: block; /* Label'ı blok element olarak görüntüle, alt alta sıralanmalarını sağla */
  margin-bottom: 0.5rem; /* Label ile input arasındaki boşluk */
  font-weight: bold; /* Kalın font ağırlığı */
}

/* Input Stilleri */
form{
  .p-inputtext {
    width: 100%; /* Input'ların genişliği */
    padding: 0.5rem; /* Input içerisindeki içerik ile kenar arasındaki boşluk */
    border: 1px solid $background-color; /* Kenarlık rengi */
    border-radius: 0.25rem; /* Kenarlık köşe yuvarlaklığı */
  }
}
/* CSS dosyanızda */
.p-input-icon-left {
  display: flex;
  align-items: center;
}

.p-input-icon-left .pi {
  margin-right: 5px; /* İkon ile input arasındaki boşluk */
}
/* Dropdown Stilleri */
.p-dropdown {
  width: 100%; /* Dropdown'ın genişliği */
  margin-top: 0.5rem; /* Dropdown ile üstteki öğe arasındaki boşluk */
}

/* Button Stilleri */
.p-button {
  margin-right: 0.5rem; /* Button'lar arasındaki boşluk */
}

/* Success Button */
.p-button-success {
  background-color: #28a745; /* Başarı rengi (Bootstrap success rengi) */
  color: #fff; /* Yazı rengi */
}

/* Danger Button */
.p-button-danger {
  background-color: #dc3545; /* Tehlike rengi (Bootstrap danger rengi) */
  color: #fff; /* Yazı rengi */
}
