<div class="flex w-full container-table">
  <div class="table">
    <p-table
      [value]="product"
      [scrollable]="true"
      scrollHeight="800px"
      styleClass="table"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>{{'ordersForm.id' | transloco}}</th>
          <th>{{'ordersForm.image' | transloco}}</th>
          <th>{{'ordersForm.name' | transloco}}</th>
          <th>{{'ordersForm.stock' | transloco}}</th>
          <th>{{'ordersForm.category' | transloco}}</th>
          <th>{{'ordersForm.status' | transloco}}</th>
          <th>{{'ordersForm.totalPrice' | transloco}}</th>
          <th>{{'ordersForm.actions' | transloco}}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.id }}</td>
          <td>
            <img
              class="w-9 shadow-2 border-round"
              [src]="
                'https://primefaces.org/cdn/primeng/images/demo/product/' +
                product?.file
              "
              [alt]="product.name"
              width="40px"
              height="40px"
            />
          </td>
          <td>{{ product.name }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.category }}</td>
          <td><p-tag
            [value]="product?.selectedStatus"
            [severity]="getSeverity(product)"
          ></p-tag></td>
          <td>$ {{ product.priceStacked }}</td>
          <td class="button-style">
           <div>
            <i
            class="button pi pi-trash"
            style="color: #3498db;"
            (click)="deleteOrders(product.id)"
          ></i>
           </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
