<div class="flex w-full container-table">
  <div class="table">
    <p-table
      [value]="product"
      [scrollable]="true"
      scrollHeight="800px"
      styleClass="table"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Resim</th>
          <th>Ürün Adı</th>
          <th>Adet</th>
          <th>Kategori</th>
          <th>Durum</th>
          <th>Fiyat</th>
          <th>İşlemler</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.id }}</td>
          <td>
            <img
              class="w-9 shadow-2 border-round"
              [src]="
                'https://primefaces.org/cdn/primeng/images/demo/product/' +
                product?.file
              "
              [alt]="product.name"
              width="40px"
              height="40px"
            />
          </td>
          <td>{{ product.name }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.category }}</td>
          <td><p-tag
            [value]="product?.selectedStatus"
            [severity]="getSeverity(product)"
          ></p-tag></td>
          <td>$ {{ product.priceStacked }}</td>
          <td class="button-style">
            <i
              class="button pi pi-trash w-full border-round"
              (click)="removeFromCartOrders(product.id)"
            ></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div
    class="flex flex-column mx-4 container-price"
    *ngIf="product || product?.length >= 1"
  >
    <div>
      <div>
        <h3>Sipariş Özeti</h3>
      </div>
      <div>Ürünün Toplamı: $ {{ totalPrice }}</div>
      <div>Kargonun Toplamı: $ 29.90</div>
      <div>Kargo Bedava (Satıcı Karşılar): -$ 29.90</div>
      <hr />
      <div>$ {{ totalPrice }}</div>
    </div>
    <div class="button-style w-full mt-4">
      <button pButton class="button w-full">Siparişi Tamamla</button>
    </div>
  </div>
</div>
