<div class="flex w-full container-table">
  <div class="table">
    <p-table [value]="items" >
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Resim</th>
          <th>Ürün Adı</th>
          <th>Adet</th>
          <th>Kategori</th>
          <th>Durum</th>
          <th>Fiyat</th>
          <th>İşlemler</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item >
        <tr>
          <td>{{ item.id }}</td>
          <td>
            <!-- <p-image
              [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + item.image"
              [alt]="item.name"
              [preview]="true"
              width="100px"
              height="100px"
            ></p-image> -->
          </td>
          <td>{{ item.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.status }}</td>
          <td>$ {{ item.price }}</td>
          <td class="button-style">
            <i class="button pi pi-trash w-full border-round" (click)="removeFromCartOrders(item)"></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="flex flex-column mx-4 container-price" *ngIf="items || items?.length >= 1">
    <div>
      <div>
        <h3>Sipariş Özeti</h3>
      </div>
      <div>
        Ürünün Toplamı: $ {{ totalPrice }}
      </div>
      <div>
        Kargonun Toplamı: $ 29.90
      </div>
      <div>
        Kargo Bedava (Satıcı Karşılar): -$ 29.90
      </div>
      <hr>
      <div>
        $ {{ totalPrice }}
      </div>
    </div>
    <div class="button-style w-full">
      <button class="button w-full">Siparişi Tamamla</button>
    </div>
  </div>
</div>
