
.container {
  width: 100%;
  min-height: 75vh;
  padding: 15px;
  display: flex;
  background: transparent;
  justify-content: flex-start;
  align-items: flex-start;
  backdrop-filter: blur(8px);
}

.container form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  width: 650px;
  height: auto;
  backdrop-filter: blur(8px);
  margin: 15px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-color: #000;
  border-radius: 20px;
  align-items: center;
}

.register-header h2{
  margin-left: 150px;
}
.container form .wrapper{
  margin: 15px;
}
a {
  text-decoration: underline;
  color: #000;
}

a:hover{
  color:#176b87;
}


