<div class="container" style="background-image: url('assets/images/net-rd-2-1.jpg');">
  <form [formGroup]="updateuserForm">
    <div
      class="register-header block justify-content-center align-content-center align-items-center text-2xl w-full"
      style="background: transparent"
    >
      <h2>Kullanıcı güncelle</h2>
    </div>

    <!-- Name input start-->

    <div class="wrapper">
      <span class="p-float-label mt-4">
        <i class="pi pi-user" style="color: #000"></i>
        <input
          pInputText
          id="name"
          formControlName="name"
          pTooltip="{{'updateuserForm.nameTooltip' | transloco }}"
        />
        <label htmlFor="name"> {{selectedUser.name}} </label>
      </span>
      <small
        *ngIf="
        updateuserForm.get('name')?.invalid &&
        updateuserForm.get('name')?.touched
        "
        class="text-red-500"
      >
        {{
          updateuserForm.get("name").errors != null &&
          updateuserForm.get("name").errors["whitespace"]
            ? ("updateuserForm.nameSmall" | transloco)
            : ""
        }}
        {{
          updateuserForm.get("name").errors != null &&
          updateuserForm.get("name").errors["required"]
            ? ("updateuserForm.nameSmall" | transloco)
            : ""
        }}
      </small>
    </div>
    <!-- Name input end-->

    <!-- Username input start-->
    <div class="wrapper">
      <span class="p-float-label mt-4">
        <i class="pi pi-user" style="color: #000"></i>
        <input
          pInputText
          id="username"
          formControlName="username"
          pTooltip="{{'updateuserForm.usernameTooltip' | transloco }}"
        />
        <label htmlFor="username">{{ selectedUser.username}}</label>
      </span>
      <small
        *ngIf="
        updateuserForm.get('username')?.invalid &&
        updateuserForm.get('username')?.touched
        "
        class="text-red-500"
      >
        {{
          updateuserForm.get("username").errors != null &&
          updateuserForm.get("username").errors["whitespace"]
            ? ("updateuserForm.usernameSmall" | transloco)
            : ""
        }}
        {{
          updateuserForm.get("username").errors != null &&
          updateuserForm.get("username").errors["required"]
            ? ("updateuserForm.usernameSmall" | transloco)
            : ""
        }}
      </small>
    </div>
    <!-- Username input end-->

    <!-- email input start-->
    <div class="wrapper">
      <span class="p-float-label mt-4">
        <i class="pi pi-envelope" style="color: #000"></i>
        <input
          pInputText
          id="email"
          formControlName="email"
          pTooltip="{{'updateuserForm.emailTooltip' | transloco }}"
        />
        <label htmlFor="email">{{
          selectedUser.email
        }}</label>
      </span>
      <small
        *ngIf="
        updateuserForm.get('email')?.invalid &&
        updateuserForm.get('email')?.touched
        "
        class="text-red-500"
      >
        {{
          updateuserForm.get("email").errors != null &&
          updateuserForm.get("email").errors["whitespace"]
            ? ("updateuserForm.emailSmall" | transloco)
            : ""
        }}
        {{
          updateuserForm.get("email").errors != null &&
          updateuserForm.get("email").errors["required"]
            ? ("updateuserForm.emailSmall" | transloco)
            : ""
        }}
      </small>
    </div>
    <!-- email input end-->

    <!-- phone input start-->
    <div class="wrapper">
      <span class="p-float-label mt-4">
        <i class="pi pi-phone" style="color: #000"></i>
        <input
          pInputText
          id="phone"
          formControlName="phone"
          pTooltip="{{'updateuserForm.phoneTooltip' | transloco }}"
        />
        <label htmlFor="phone">{{
         selectedUser.phone
        }}</label>
      </span>
      <small
        *ngIf="
        updateuserForm.get('phone')?.invalid &&
        updateuserForm.get('phone')?.touched
        "
        class="text-red-500"
      >
        {{
          updateuserForm.get("phone").errors != null &&
          updateuserForm.get("phone").errors["whitespace"]
            ? ("updateuserForm.phoneSmall" | transloco)
            : ""
        }}
        {{
          updateuserForm.get("phone").errors != null &&
          updateuserForm.get("phone").errors["required"]
            ? ("updateuserForm.phoneSmall" | transloco)
            : ""
        }}
      </small>
    </div>
    <!-- phone input end-->

    <!-- password input start-->
    <div class="wrapper">
      <span class="p-float-label mt-4">
        <i class="pi pi-lock" style="color: #000"></i>
        <p-password
          id="password"
          formControlName="password"
          pTooltip="{{'updateuserForm.passwordTooltip' | transloco }}"
        ></p-password>
        <label htmlFor="password">{{
          selectedUser.password
        }}</label>
      </span>
      <small
        *ngIf="
        updateuserForm.get('password')?.invalid &&
        updateuserForm.get('password')?.touched
        "
        class="text-red-500"
      >
        {{
          updateuserForm.get("password").errors != null &&
          updateuserForm.get("password").errors["whitespace"]
            ? ("updateuserForm.passwordSmall" | transloco)
            : ""
        }}
        {{
          updateuserForm.get("password").errors != null &&
          updateuserForm.get("password").errors["required"]
            ? ("updateuserForm.passwordSmall" | transloco)
            : ""
        }}
      </small>
    </div>
    <!-- password input end-->

    <!-- confirm password input start-->
    <div class="wrapper">
      <span class="p-float-label mt-4">
        <i class="pi pi-lock" style="color: #000"></i>
        <p-password
          id="confirmpassword"
          formControlName="confirmpassword"
          pTooltip="{{'updateuserForm.confirmTooltip' | transloco }}"
        ></p-password>
        <label htmlFor="confirmpassword"
          >{{ selectedUser.confirmpassword}}
        </label>
      </span>
      <small
        *ngIf="
        updateuserForm.get('confirmpassword')?.invalid &&
        updateuserForm.get('confirmpassword')?.touched
        "
        class="text-red-500"
      >
        {{
          updateuserForm.get("confirmpassword").errors != null &&
          updateuserForm.get("confirmpassword").errors["whitespace"]
            ? ("updateuserForm.confirmSmall" | transloco)
            : ""
        }}
        {{
          updateuserForm.get("confirmpassword").errors != null &&
          updateuserForm.get("confirmpassword").errors["required"]
            ? ("updateuserForm.confirmSmall" | transloco)
            : ""
        }}
      </small>
      <span>
        <small
          *ngIf="
          updateuserForm.get('password').value !=
          updateuserForm.get('confirmpassword').value
          "
          class="block text-red-500"
        >
          {{
            updateuserForm.get("confirmpassword").errors != null &&
            updateuserForm.get("confirmpassword").errors["required"]
              ? ("updateuserForm.confirmSmallSecond" | transloco)
              : ""
          }}
        </small>
      </span>
    </div>
    <!-- confirm password input end-->
    <!-- button start-->
    <span class="button-style mt-4">
      <button class="button w-12rem" (click)="updateUser(selectedUser)">
        {{ "updateuserForm.buttonLabel" | transloco }}
      </button>
    </span>
    <!-- button end-->
  </form>
</div>
