<div
  class="container align-items-center justify-content-start align-content-center text-center"
>
  <div class="block align-items-center text-center p-4 border-round mb-3">
    <h1 style="font-family: cursive;">
      <a routerLink="/product" style="font-size: 40px; font-family: cursive"
        >Orion Innovation</a
      >
      ile e-ticaretinizi bir sanat eserine dönüştürün; her tık, bir başyapıtın
      doğuşu olsun
    </h1>
  </div>
  <div
    class="flex align-items-center font-bold text-center p-2 border-round justify-content-center align-self-center mb-3"
  >
    <div class="card flex flex-column">

      <div>
        <span class="button-style">
          <button
            class="button"
            routerLink="/login"
          >
            Giriş yap
          </button>
        </span>
      </div>
      <div>
        <span class="button-style">
          <button
            class="button"
            routerLink="/register"
          >
            Kayıt ol
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
