<div
  class="container align-items-center justify-content-start align-content-center text-center"
>
  <div
    class="block text-white align-items-center text-center p-4 border-round mb-3"
  >
    <h2>{{ "startForm.header" | transloco }}</h2>
  </div>
  <div
    class="flex align-items-center font-bold text-center p-2 border-round justify-content-center align-self-center mb-3"
  >
    <div class="card bg-white shadow-3">
      <p-tabView>
        <p-tabPanel *ngIf="loginPanel">
          <ng-template pTemplate="header">
            <span>{{ "startForm.loginText" | transloco }}</span>
          </ng-template>
          <ng-template pTemplate="content">
            <app-login></app-login>
            <span>
              <a (click)="toggleResetPass()">
                <p>{{ "startForm.forgetText" | transloco }}</p>
              </a>
            </span>
          </ng-template>
        </p-tabPanel>
        <p-tabPanel *ngIf="registerPanel">
          <ng-template pTemplate="header">
            <span>{{ "startForm.registerText" | transloco }}</span>
          </ng-template>
          <ng-template pTemplate="content">
            <app-register></app-register>
          </ng-template>
        </p-tabPanel>
        <p-tabPanel *ngIf="resetPanel">
          <ng-template pTemplate="header">
            <span>{{ "startForm.newPassText" | transloco }}</span>
          </ng-template>
          <ng-template pTemplate="content">
            <app-resetpassword></app-resetpassword>
          </ng-template>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
  <div
    class="flex align-items-center font-bold text-center p-5 border-round justify-content-center align-self-center w-14"
  >
    <div class="container border-1 border-300 surface-100 hover:surface-150">
      <div class="header-social">
        <h3>{{ "startForm.headerSocial" | transloco }}</h3>
      </div>
      <div class="description-social">
        <p>{{ "startForm.descSocialOne" | transloco }}</p>
        <p>{{ "startForm.descSocialTwo" | transloco }}</p>
      </div>
      <div class="icon-social flex">
        <a href="#">
          <div
            class="flex-1 font-bold text-center p-4 border-round border-1 border-400"
          >
            <i class="pi pi-google"></i>
            <p>{{ "startForm.piGoogle" | transloco }}</p>
          </div>
        </a>
        <a href="#">
          <div
            class="flex-1 font-bold text-center p-4 border-round border-1 border-400"
          >
            <i class="pi pi-apple"></i>
            <p>{{ "startForm.piApple" | transloco }}</p>
          </div>
        </a>
        <a href="#">
          <div
            class="flex-1 font-bold text-center p-4 border-round border-1 border-400"
          >
            <i class="pi pi-facebook"></i>
            <p>{{ "startForm.piFacebook" | transloco }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
