<nav class="navbar align-items-center justify-content-evenly ">
  <ul class="menu flex flex-row  ">
      <li class="menu-item ">
        <img src="assets/images/OI_logo.png" height="60" class="mr-2" routerLink="/product" />
      </li>
        <li class="menu-item ">
          <a routerLink="/account">
            <i class="pi pi-user"></i> {{'navigationForm.account' | transloco}}
          </a>
        </li>
        <li class="menu-item ">
          <a routerLink="/orders">
            <i class="pi pi-shopping-cart">
              <span pBadge [severity]="'success'" [value]="orderBadge"></span>
            </i> {{'navigationForm.orders' | transloco}}
          </a>
        </li>
        <li class="menu-item">
          <a routerLink="/favorites">
            <i class="pi pi-heart">
              <span pBadge [severity]=" 'danger' "  [value]="favoritesBadge"></span>
            </i> {{'navigationForm.favorites' | transloco}}
          </a>
        </li>
        <li class="menu-item">
          <a routerLink="/about">
            <i class="pi pi-question-circle"></i> {{'navigationForm.about' | transloco}}
          </a>
        </li>
        <li class="menu-item">
          <a routerLink="/support">
            <i class="pi pi-question"></i> {{'navigationForm.help&support' | transloco}}
          </a>
        </li>
        <li class="menu-item">
          <a routerLink="/manager">
            <i class="pi pi-cog"></i> {{'navigationForm.manager' | transloco}}
          </a>
        </li>
        <select (change)="setLanguage()" [(ngModel)]="selectedLanguage" class="custom-select flex border-0 text-lg ml-3">
          <option *ngFor="let option of stateOptions" [ngValue]="option.value">{{ option.label }}</option>
        </select>
        <li class="menu-item">
          <a (click)="logout()" >
            <i class="pi pi-sign-out"></i> {{'navigationForm.logout' | transloco}}
          </a>
        </li>
      </ul>
</nav>


