
.navbar{
  justify-content: space-evenly;
  background-color: transparent;
  cursor: pointer;
  backdrop-filter: blur(15px);

}
.menu-item{
  margin-left: 15px;
  margin-right: 25px;
  list-style-type: none;
}
.menu-item a{
  text-decoration: none;
  color: #000;
  font-size: 18px;
  margin: 5px;
}

.custom-select{
  color: #000;
  border: none;
  background: transparent;
}

.menu-item i{

  margin-right: 5px;
}
