
.navbar{
  justify-content: space-evenly;
  background-color: transparent;
  cursor: pointer;
  background-color: transparent; /* Özel renk ekleyebilirsiniz */
  color: #fff;
  backdrop-filter: blur(15px);
  margin-top: 0;
}

.navbar a{
  color: #fff;
}

.menu{
  justify-content: center;
  align-items: center;
}
.menu-item{
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;

  i{
    font-size: 20px;
    color: #000;
  }
}
.menu-item a{
  text-decoration: none;
  color: #000;
  font-size: 18px;
  margin: 5px;
}

.custom-select{
  color: #000;
  border: none;
  background: transparent;
}

  .menu-item i{
    margin-right: 5px;
  }


  :host ::ng-deep{

    .pi-shopping-bag .p-badge{
      background-color: #3498db;

    }
    .pi-shopping-bag .p-badge{
      background-color: green;
    }
    .pi-heart .p-badge{
      background-color: red;
    }
  }
