<div class="flex w-full">
  <div
    class="block align-items-center w-full h-full justify-content-center bg-white font-bold m-2 px-5 py-3 border-round"
  >
    <div class="header-title block w-full m-3">
      <h3>{{ "favoritesForm.header" | transloco }}</h3>
    </div>
    <div class="block m-3 justify-content-center">
      <div class="card flex justify-content-center">
      </div>
      <div class="card flex justify-content-center">
        <h3>{{ "favoritesForm.title" | transloco }}</h3>
      </div>
      <div class="card flex justify-content-center text-xl">
        <h6>
          {{ "favoritesForm.desc" | transloco }}
        </h6>
      </div>
      <div class="card justify-content-center align-content-center">
        <span class="button-style">
          <button class="button" [routerLink]="['/pages/product']">
            {{ "favoritesForm.buttonLabel" | transloco }}
          </button>
        </span>
      </div>
    </div>
  </div>

</div>
