<div class="flex">
  <div
    class="block align-items-center justify-content-center bg-white font-bold m-2 px-5 py-3 border-round"
  >
    <div class="header-title block">
      <h3>Hakkımızda</h3>
    </div>
    <div
      class="block justify-content-center align-content-center align-items-center"
    >
      <div class="card flex justify-content-center">
      </div>
      <div class="card justify-content-center font-light text-xl">
        <div class="p-col-8 white-space-normal m-4">
          <p>
            Orion Innovation, önde gelen bir dijital dönüşüm ve ürün geliştirme
            hizmetleri firmasıdır. Merkezi Edison, NJ'de bulunan 6.400'den fazla
            ortaktan oluşan küresel bir ekibimiz var ve Kuzey Amerika, EMEA,
            APAC ve LATAM'daki 12 büyük dağıtım merkezinde mühendisler var.
            Dönüştürücü çalışmalarımız ve çeşitli endüstrilerdeki
            müşterilerimizin işlerini nasıl dönüştürdükleri hakkında bilgi
            edinmek için videoyu izleyin. Orion 30 yıldır karmaşık iş
            sorunlarını çözüyor müşterilerimiz için.
          </p>
        </div>

        <div class="p-col-8 white-space-normal m-4">
          <p>
            Dönüştürücü iş çözümlerimiz, dijital strateji, deneyim tasarımı ve
            mühendisliğe dayanır ve müşterilerimizi çeviklikle ölçeklendirmeye
            teşvik eder. Misyonumuz güvenilir bir ortak olmaktır dijital
            yeniliğe ilham veren ve hızlandıran. Yüksek teknoloji, telekom ve
            medya, profesyonel hizmetler, finansal hizmetler, sağlık ve yaşam
            bilimleri, spor ve eğlence ve eğitim gibi birçok sektörde geniş bir
            müşteri yelpazesi ile çalışıyoruz.
          </p>
        </div>

        <div class="p-col-8 white-space-normal m-4">
          <p>
            Değerlerimiz – Orion'daki temel değerlerimiz hakkında çok düşündük.
            Ne oldukları, ne olmaları gerektiği. Onları güçlü bir kısaltma, GROW
            – büyüme zihniyeti, herkese saygı, hazır düşünce ve dünya
            standartlarında yürütme ile kaynattık. Daha fazla bilgi edinin
            değerlerimiz ve çalışanlarımızı Orioneers yapan özellikler hakkında,
            öncü ve yenilikçiliği teşvik etmek. Kurumsal Sosyal Sorumluluk ( KSS
            ). Orion adil ve eşitlikçi bir topluma kendini adamıştır.
            Farklılıklarımızı kucaklıyor ve teşvik ediyoruz.
          </p>
        </div>
      </div>
      <div class="card justify-content-center align-content-center">
        <h1>Ne yapıyoruz</h1>
        <div class="flex flex-row">
          <div class="card flex flex-column justify-content-center m-4">
         
              <h4>11 Ekim 2023</h4>
              <h1>BFSI & Fintech Conclave & Awards 2023'te Orion Sergileniyor</h1>
          </div>
          <div class="card flex flex-column justify-content-center m-4">
          
            <h4>11 Ekim 2023</h4>
            <h1>Bell Ağı ve Teknoloji Hizmetleri Liderlik Konferansı</h1>
          </div>
          <div class="card flex flex-column justify-content-center m-4">
         
            <h4>11 Ekim 2023</h4>
            <h1>Anında İş Değeri için Üretken Yapay Zekası Stratejileri</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
