$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$primary-color: #3498db;
$secondary-color: #1071b3;
$danger-color: #e74c3c;
$dark-text: #34495e;
$light-text: #ecf0f1;
$background-color: #ecf0f1;
.header-title {
  display: flex;
  width: 100%;
  margin: 1rem;
}

hr{
  display: none;
}

.container {
  padding: 1%;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: #f6f6f6;
}

.product-body {
  display: flex;
  flex-direction: row;
  margin-top: 10px;

  @media (max-width: $breakpoint-tablet) {
    flex-direction: column;
    hr{
      display: block;
    }
  }
}

.product-filter {
  max-width: 100%;
  height: 100%;
  margin-bottom: 10px;


  @media (min-width: $breakpoint-tablet) {
    max-width: 350px;
    height: 100%;
    margin-bottom: 0;
    hr{
      display: block;
    }
  }
}

.product-list {
  width: 100%;
  height: 100%;
  margin-left: 15px;

  @media (min-width: $breakpoint-desktop) {
    width: calc(100% - 250px);
    height: calc(100% - 250px);

  }
}
