<div class="container">
  <div class="column">
    <div [routerLink]="['/creoter','product-management']">
      <i class="pi pi-shopping-cart"></i>
      Product-Management
    </div>
    <div [routerLink]="['/creoter','order-management']">
      <i class="pi pi-file"></i>
      Orders-Management
    </div>
    <div [routerLink]="['/creoter','reporting']">
      <i class="pi pi-chart-bar"></i>
      Reporting
      </div>
    <div [routerLink]="['/creoter','profil-management']">
      <i class="pi pi-id-card"></i>
      Profil-Management
    </div>
  </div>
</div>
