$primary-color: #3498db;
$secondary-color: #1071b3;
$danger-color: #e74c3c;
$dark-text: #34495e;
$light-text: #ecf0f1;
$background-color: #ecf0f1;

.image{
  max-width: 500px;
  max-height: 400px;
}
:host ::ng-deep{

  .p-tabview{
    max-width:100%;
  }

  p-inputnumber , .p-inputnumber{
    max-width: 100%;
  }
  .p-icon{
    color: RGB(255,170,74);
    max-width: 100%;
  }
  .valueInput{
    width:100%;
     input{
      width: 100%;
      font-size: 1rem;
      border:1px solid $dark-text;
      background-color: transparent;
      color: $dark-text;
      transition: border-color 0.3s;

      &:focus {
        outline: none;
        border-bottom: 2px solid $dark-text;
      }
     }

     .p-button{
      background-color: $dark-text;
      border:none;
      width: 100%;
     }
  }

  .out-button{
    max-width:100%;
    width: 60%;
    margin-right: 5px;
  }

  .add-to-cart{
    background-color:$dark-text ;
    border: none;
    width: 100%;
    justify-content: center;
  }
}
