<div class="container">
  <div class="row">
    <div class="header">
      <h2>{{ "userinfoForm.header" | transloco }}</h2>
      <p class="flex flex-wrap">
        {{ "userinfoForm.headerP" | transloco }}
      </p>
    </div>
    <form [formGroup]="accountForm">
      <div class="form-container">
        <span class="p-float-label m-4">
          <i class="pi pi-user" style="color: #000"></i>
          <input pInputText id="name" formControlName="name" />
          <label htmlFor="name">{{
            "userinfoForm.nameLabel" | transloco
          }}</label>
        </span>
        <span class="p-float-label m-4">
          <i class="pi pi-user" style="color: #000"></i>
          <input pInputText id="username" formControlName="username" />
          <label htmlFor="username">{{
            "userinfoForm.usernameLabel" | transloco
          }}</label>
        </span>
        <span class="p-float-radio m-4" >
          <!-- <div *ngFor="let gender of Genders" class="mr-2">
            <p-radioButton
              [inputId]="gender.key"
              [value]="gender"
              formControlName="gender"
              styleClass="radio"
            ></p-radioButton>
            <label [for]="gender.key" class="mr-4">{{ gender.name }}</label>
          </div> -->
        </span>
        <span class="p-float-label m-4">
          <i class="pi pi-calendar" style="color: #000"></i>
          <p-calendar
            formControlName="bDate"
            styleClass="calendar"
            [showIcon]="false"
            id="calendar"
          ></p-calendar>
          <label htmlFor="bDate">{{
            "userinfoForm.date" | transloco
          }}</label>
        </span>
      </div>
      <div class="form-container">
        <span class="p-float-label m-4">
          <i class="pi pi-user" style="color: #000"></i>
          <input pInputText id="surname" formControlName="surname" />
          <label htmlFor="surname">{{
            "userinfoForm.surnameLabel" | transloco
          }}</label>
        </span>
        <span class="p-float-label m-4">
          <i class="pi pi-envelope" style="color: #000"></i>
          <input pInputText id="email" formControlName="email" />
          <label htmlFor="email">{{
            "userinfoForm.emailLabel" | transloco
          }}</label>
        </span>
        <span class="p-float-label m-4">
          <i class="pi pi-phone" style="color: #000"></i>
          <input pInputText id="phone" formControlName="phone" />
          <label htmlFor="phone">{{
            "userinfoForm.phoneLabel" | transloco
          }}</label>
        </span>
        <span class="p-float-label m-4">
          <i class="pi pi-map-marker" style="color: #000"></i>
          <input pInputText id="address" formControlName="address" />
          <label htmlFor="address">{{
            "userinfoForm.addressLabel" | transloco
          }}</label>
        </span>
      </div>
      <div class="flex w-full justify-content-center">
        <span class="button-style">
          <button pButton type="submit" (click)="updateUser()" class="button">
            {{ "userinfoForm.buttonLabel" | transloco }}
          </button>
        </span>
      </div>
    </form>
  </div>
</div>
