<div class="page-content page-container w-full" id="page-content" *ngIf="!edit">
  <div class="padding">
    <div class="row container d-flex justify-content-center w-full">
      <div class="col-xl-6 col-md-12">
        <div class="card user-card-full">
          <div class="row m-l-0 m-r-0">
            <div class="col-sm-4 bg-c-lite-green user-profile">
              <div class="card-block text-center text-white">
                <div class="m-b-25">
                  <p-avatar
                    icon="pi pi-user"
                    styleClass="mr-2"
                    shape="circle"
                    size="xlarge"
                    [style]="{
                      'background-color': '#1071b3',
                      color: '#ffffff'
                    }"
                  ></p-avatar>
                </div>
                <h6 class="f-w-600">
                  {{ selectedUser?.name | uppercase }}
                  {{ selectedUser?.surname | uppercase }}
                </h6>
                <p>{{ selectedUser?.username | lowercase }}</p>
                <i
                  class="mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"
                ></i>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="card-block">
                <h6
                  class="m-b-20 p-b-5 b-b-default f-w-600"
                  style="color: #000"
                >
                  {{ "userinfoForm.information" | transloco }}
                </h6>
                <div class="flex flex-row w-full">
                  <div class="row w-full">
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">
                        {{ "userinfoForm.nameLabel" | transloco }}
                      </p>
                      <h6 class="text-muted f-w-400">
                        {{ selectedUser?.name | uppercase }}
                      </h6>
                    </div>
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">
                        {{ "userinfoForm.surnameLabel" | transloco }}
                      </p>
                      <h6 class="text-muted f-w-400">
                        {{ selectedUser?.surname | uppercase }}
                      </h6>
                    </div>
                  </div>
                  <div class="row w-full">
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">
                        {{ "userinfoForm.emailLabel" | transloco }}
                      </p>
                      <h6 class="text-muted f-w-400">
                        {{ selectedUser?.email }}
                      </h6>
                    </div>
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">
                        {{ "userinfoForm.phoneLabel" | transloco }}
                      </p>
                      <h6 class="text-muted f-w-400">
                        {{ selectedUser?.phone }}
                      </h6>
                    </div>
                  </div>
                </div>
                <div class="flex flex-row w-full">
                  <div class="row w-full">
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">
                        {{ "userinfoForm.usernameLabel" | transloco }}
                      </p>
                      <h6 class="text-muted f-w-400">
                        {{ selectedUser?.username }}
                      </h6>
                    </div>
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">
                        {{ "userinfoForm.date" | transloco }}
                      </p>
                      <h6 class="text-muted f-w-400">
                        {{ selectedUser?.bDate | date : "dd/MM/yyyy" }}
                      </h6>
                    </div>
                  </div>
                  <div class="row w-full">
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">
                        {{ "userinfoForm.addressLabel" | transloco }}
                      </p>
                      <h6 class="text-muted f-w-400">
                        {{ selectedUser?.address }}
                      </h6>
                    </div>
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">
                        {{ "userinfoForm.gender" | transloco }}
                      </p>
                      <h6 class="text-muted f-w-400">
                        {{ selectedUser?.gender | transloco }}
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <button
                pButton
                class="button"
                style="color: #fff"
                (click)="editUser()"
              >
                {{ "userinfoForm.buttonLabeledit" | transloco }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


