<div class="container">
  <form [formGroup]="userResetFormPassword">
    <div
      class="block justify-content-center align-content-center text-2xl"
      style="background: transparent"
    >
      <h2>Orion Shop</h2>
    </div>
    <div class="wrapper">
      <span class="p-float-label mt-4">
        <i class="pi pi-lock" style="color: #000"></i>
        <p-password
          id="password"
          formControlName="password"
          styleClass="password"
          [toggleMask]="true"
          pTooltip="{{ 'registerForm.passwordTooltip' | transloco }}"
        ></p-password>
        <label htmlFor="password">{{
          "registerForm.passwordLabel" | transloco
        }}</label>
      </span>
      <small
        *ngIf="
          userResetFormPassword.get('password')?.invalid &&
          userResetFormPassword.get('password')?.touched
        "
        class="text-red-500"
      >
        {{
          userResetFormPassword.get("password").errors != null &&
          userResetFormPassword.get("password").errors["whitespace"]
            ? ("registerForm.passwordSmall" | transloco)
            : ""
        }}
        {{
          userResetFormPassword.get("password").errors != null &&
          userResetFormPassword.get("password").errors["required"]
            ? ("registerForm.passwordSmall" | transloco)
            : ""
        }}
      </small>

    </div>
    <div class="wrapper">
      <span class="p-float-label mt-4">
        <i class="pi pi-lock" style="color: #000"></i>
        <p-password
          id="confirmpassword"
          formControlName="confirmpassword"
          [toggleMask]="true"
          styleClass="password"
          pTooltip="{{ 'registerForm.confirmTooltip' | transloco }}"
        ></p-password>
        <label htmlFor="confirmpassword"
          >{{ "registerForm.confirmLabel" | transloco }}
        </label>
      </span>
      <small
        *ngIf="
          userResetFormPassword.get('confirmpassword')?.invalid &&
          userResetFormPassword.get('confirmpassword')?.touched
        "
        class="text-red-500"
      >
        {{
          userResetFormPassword.get("confirmpassword").errors != null &&
          userResetFormPassword.get("confirmpassword").errors["whitespace"]
            ? ("registerForm.confirmSmall" | transloco)
            : ""
        }}
        {{
          userResetFormPassword.get("confirmpassword").errors != null &&
          userResetFormPassword.get("confirmpassword").errors["required"]
            ? ("registerForm.confirmSmall" | transloco)
            : ""
        }}
      </small>
      <div *ngIf="userResetFormPassword.get('confirmpassword').value.length >= 8 && userResetFormPassword.get('password').value.length >= 8">
        <small *ngIf="userResetFormPassword.get('password').value !== userResetFormPassword.get('confirmpassword').value" class="block text-red-500">
           {{ 'registerForm.confirmSmallSecond' | transloco }}
        </small>
     </div>
    </div>
    <span class="button-style mt-4">
      <button pButton class="button" (click)="onChangesPassword()">
        {{ "resetForm.buttonLabelNew" | transloco }}
      </button>
    </span>
    <span class="button-style mt-4">
      <button
        pButton
        class="button custom-button"
        [routerLink]="['/code']"
      >
        {{ "resetForm.buttonLabelBack" | transloco }}
      </button>
    </span>
  </form>
</div>
