

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 21px;
}

.surface-section {
  border: 1px solid #e1e1e1;
  border-radius: 0.75rem;

}

.surface-section .text-4xl {
  font-size: 2.25rem;
}

.surface-section .mb-4 {
  margin-bottom: 1rem;
  text-align: start;
}

.surface-section .p-4 {
  padding: 1rem;
}

.surface-section .shadow-1 {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.surface-section .flex {
  display: flex;
  text-align: start;
}

.surface-section .mx-1 {
  margin-right: 0.25rem;
}

.image img {
  display: flex;
  margin: 3px;
  width: 120px;
  height: 120px;
  border-radius:10px;
}

 .category  {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  margin-left: 21px;
  margin-right: 21px;
}

.name  {
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-left: 21px;
  margin-right: 21px;
}

 .description  {
  margin: 0;
  display: flex;
  align-items: center;
  margin-left:21px;
  margin-right:21px;
  text-align: justify;
  text-justify: inter-word;
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left:21px;
  margin-right:21px;
  cursor: pointer;
  margin-left: 0.75rem;
}

@media screen and (min-width: 376px) and (max-width: 768px){
  .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    width: 100%;
  }

   .description {
    margin: 0;
    display: flex;
    align-items: normal;
    float: left;
    margin-left:0;
    margin-right:21px;
    width: 100%;
  }


.surface-section .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left:21px;
  margin-right:21px;
  cursor: pointer;
  margin-left: 0.75rem;
}
}

@media screen and (max-width: 375px){
  .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    width: 100%;
  }

  .image img {
    width: 100%;
    height: 70%;
    margin-left:0;
    border-radius: 0.5rem;
  }

   .description {
    margin: 0;
    display: flex;
    align-items: normal;
    float: left;
    margin-left:10px;
    width: 100%;
    p{
      float: left;
      text-align: justify;
    }
  }
  .name {
    margin-left: 10px;
    span {
      font-size: 1rem;
      font-weight: bold;
      margin-left:0;
      margin-bottom:10px ;
    }
  }

.category {
  margin-left:10px;
  span {
    margin-right: 0.5rem;
    font-weight: bold;
    margin-bottom:10px ;
    margin-left:0;
  }
}



 .price {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 10px;
  margin-left:21px;
  margin-right:21px;
  cursor: pointer;
  margin-left: 0.75rem;
}
}
