<div class="shadow-1 container">
  <div class="image" [routerLink]="['/pages/product', product.productId]">
    <img [src]="getFileUrl(product?.file)" [alt]="product?.name" width="120" height="120" />
  </div>
  <div class="name">
    <span>{{ product?.name | truncate : 30 }}</span>
  </div>
  <div class="category ">
    <span>{{ product?.category | categoryStatus }}</span>
  </div>
  <div class="description">
    <p>{{ product?.description | truncate : 300 }}</p>
  </div>
  <div class="price">
    <span class="font-bold">{{ product?.priceStacked | currency:'USD' }}</span>
    <ng-container *ngIf="isExFavorites">
      <!-- Sadece Ex Favorites için silme butonu -->
      <i class="pi text-2xl cursor-pointer ml-3 pi-trash" (click)="onDeleteExFavorites.emit(product.productId)"></i>
    </ng-container>
    <i
      class="pi text-2xl cursor-pointer ml-3"
      [ngClass]="{
        'pi-heart text-600': !liked,
        'pi-heart-fill text-red-500': liked
      }"
      (click)="onDelete.emit(product)"
    ></i>
  </div>
</div>
