<div class="card">
  <p-table
    [value]="orders"
     dataKey="order"
    [rows]="2"
    [rowsPerPageOptions]="[2, 5, 10]"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [tableStyle]="{ 'min-width': '60rem' }"
    styleClass="table"
  >
    <ng-template pTemplate="header">
      <tr class="main">
        <th style="width: 5rem"></th>
        <th pSortableColumn="orderId">Order Id</th>
        <th pSortableColumn="price">Amount</th>
        <th pSortableColumn="userId">User Id</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order let-expanded="expanded">
      <tr>
        <td>
          <button
            type="button"
            pButton
            pRipple
            [pRowToggler]="order"
            class="p-button-text p-button-rounded p-button-plain"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          ></button>
        </td>
        <td>{{ order.id }}</td>
        <td>{{ order.totalAmount | currency : "USD" }}</td>
        <td>{{ order.userId }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-order>
      <tr class="bodyOrder">
        <td colspan="7">
          <div class="p-3">
            <p-table [value]="order.orders" dataKey="id">
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="id">Id</th>
                  <th pSortableColumn="name">Name</th>
                  <th pSortableColumn="image">Image</th>
                  <th pSortableColumn="price">Price</th>
                  <th pSortableColumn="quantity">Quantity</th>
                  <th style="width: 4rem">Status</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                <tr>
                  <td>{{ product.id }}</td>
                  <td>{{ product.name }}</td>
                  <td>
                    <img
                      [src]="getFileUrl(product?.file)"
                      [alt]="product.name"
                      width="50"
                      class="shadow-4"
                    />
                  </td>
                  <td>{{ product.priceStacked | currency : "USD" }}</td>
                  <td>{{ product.quantity }}</td>
                  <td>
                    <p-tag
                      [value]="product.selectedStatus.name"
                      [severity]="getSeverity(product.selectedStatus.name)"
                    ></p-tag>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">There are no order for this product yet.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
