<div class="container">
  <form [formGroup]="userFormRegister">
    <div
      class="register-header block justify-content-center align-content-center align-items-center text-2xl w-full"
      style="background: transparent"
    >
      <h2>{{ "registerForm.header" | transloco }}</h2>
    </div>
    <!-- email input start-->
    <div class="wrapper">
      <span class="p-float-label mt-4">
        <i class="pi pi-envelope" style="color: #000"></i>
        <input
          pInputText
          id="email"
          formControlName="email"
          pTooltip="{{ 'registerForm.emailTooltip' | transloco }}"
        />
        <label htmlFor="email">{{
          "registerForm.emailLabel" | transloco
        }}</label>
      </span>
      <small
        *ngIf="
          userFormRegister.get('email')?.invalid &&
          userFormRegister.get('email')?.touched
        "
        class="text-red-500"
      >
        {{
          userFormRegister.get("email").errors != null &&
          userFormRegister.get("email").errors["whitespace"]
            ? ("registerForm.emailSmall" | transloco)
            : ""
        }}
        {{
          userFormRegister.get("email").errors != null &&
          userFormRegister.get("email").errors["required"]
            ? ("registerForm.emailSmall" | transloco)
            : ""
        }}
      </small>
    </div>
    <!-- email input end-->

    <!-- <div class="wrapper">
        <span class="p-float-radio mt-4" >
          <div>
            <i class="pi pi-user"></i>
            <label for="gender" class="mr-4">{{'registerForm.genderLabel' | transloco}}</label>
          </div>
          <div *ngFor="let gender of Genders" class="mr-2">
            <p-radioButton
              [inputId]="gender.key"
              [value]="gender"
              id="gender"
              formControlName="gender"
              styleClass="radio"
            ></p-radioButton>
            <label [for]="gender.key">{{ gender.name }}</label>
          </div>
        </span>
        <small
          *ngIf="
            userFormRegister.get('gender')?.invalid &&
            userFormRegister.get('gender')?.touched
          "
          class="text-red-500"
        >
          {{
            userFormRegister.get("gender").errors != null &&
            userFormRegister.get("gender").errors["whitespace"]
              ? ("registerForm.genderSmall" | transloco)
              : ""
          }}
          {{
            userFormRegister.get("gender").errors != null &&
            userFormRegister.get("gender").errors["required"]
              ? ("registerForm.genderSmall" | transloco)
              : ""
          }}
        </small>
      </div> -->
    <!-- password input start-->
    <div class="wrapper">
      <span class="p-float-label mt-4">
        <i class="pi pi-lock" style="color: #000"></i>
        <p-password
          id="password"
          formControlName="password"
          styleClass="password"
          [toggleMask]="true"
          pTooltip="{{ 'registerForm.passwordTooltip' | transloco }}"
        ></p-password>
        <label htmlFor="password">{{
          "registerForm.passwordLabel" | transloco
        }}</label>
      </span>
      <small
        *ngIf="
          userFormRegister.get('password')?.invalid &&
          userFormRegister.get('password')?.touched
        "
        class="text-red-500"
      >
        {{
          userFormRegister.get("password").errors != null &&
          userFormRegister.get("password").errors["whitespace"]
            ? ("registerForm.passwordSmall" | transloco)
            : ""
        }}
        {{
          userFormRegister.get("password").errors != null &&
          userFormRegister.get("password").errors["required"]
            ? ("registerForm.passwordSmall" | transloco)
            : ""
        }}
      </small>
      
    </div>
    <!-- password input end-->

    <!-- confirm password input start-->
    <div class="wrapper">
      <span class="p-float-label mt-4">
        <i class="pi pi-lock" style="color: #000"></i>
        <p-password
          id="confirmpassword"
          formControlName="confirmpassword"
          [toggleMask]="true"
          styleClass="password"
          pTooltip="{{ 'registerForm.confirmTooltip' | transloco }}"
        ></p-password>
        <label htmlFor="confirmpassword"
          >{{ "registerForm.confirmLabel" | transloco }}
        </label>
      </span>
      <small
        *ngIf="
          userFormRegister.get('confirmpassword')?.invalid &&
          userFormRegister.get('confirmpassword')?.touched
        "
        class="text-red-500"
      >
        {{
          userFormRegister.get("confirmpassword").errors != null &&
          userFormRegister.get("confirmpassword").errors["whitespace"]
            ? ("registerForm.confirmSmall" | transloco)
            : ""
        }}
        {{
          userFormRegister.get("confirmpassword").errors != null &&
          userFormRegister.get("confirmpassword").errors["required"]
            ? ("registerForm.confirmSmall" | transloco)
            : ""
        }}
      </small>
      <div *ngIf="userFormRegister.get('confirmpassword').value.length >= 8 && userFormRegister.get('password').value.length >= 8">
        <small *ngIf="userFormRegister.get('password').value !== userFormRegister.get('confirmpassword').value" class="block text-red-500">
           {{ 'registerForm.confirmSmallSecond' | transloco }}
        </small>
     </div>
    </div>
    <!-- confirm password input end-->
    <div class="flex flex-row align-content-center w-full mt-6 mb-3">
      <input
        id="terms"
        name="terms"
        type="checkbox"
        style="width: 15px; height: 15px"
      />
      <p for="terms">
        <a routerLink="/register" target="_self">
          {{ "registerForm.terms" | transloco }}
        </a>
      </p>
    </div>
    <!-- button start-->
    <span class="button-style mt-3 mb-5">
      <button class="button" (click)="onSubmit()">
        {{ "registerForm.buttonLabel" | transloco }}
      </button>
    </span>
    <!-- button end-->
    <div class="flex flex-row justify-content-between mt-4">
      <div class="flex">
        <p>{{ "registerForm.haveaccount" | transloco }}</p>
      </div>

      <div class="flex">
        <a routerLink="/login">{{ "registerForm.loginhere" | transloco }}</a>
      </div>
    </div>
    <div class="verifyCode" *ngIf="senderMail | async">
      <!-- code  input start-->
      <div class="wrapper">
        <span class="p-float-label mt-6 mb-4">
          <i class="pi pi-key" style="color: #000"></i>
          <input pInputText id="code" formControlName="code" />
          <label htmlFor="code">
            {{ "registerForm.codeLabel" | transloco }}
          </label>
        </span>
        <small
          *ngIf="
            userFormRegister.get('code')?.invalid &&
            userFormRegister.get('code')?.touched
          "
          class="text-red-500"
        >
          {{
            userFormRegister.get("code").errors != null &&
            userFormRegister.get("code").errors["whitespace"]
              ? ("creoterForm.codeSmall" | transloco)
              : ""
          }}
          {{
            userFormRegister.get("code").errors != null &&
            userFormRegister.get("code").errors["required"]
              ? ("creoterForm.codeSmall" | transloco)
              : ""
          }}
        </small>
      </div>
      <!-- code  input end-->
      <!-- button start-->
      <span class="button-style mt-4">
        <button class="button" (click)="verifyCode()">
          {{ "creoterForm.codeButton" | transloco }}
        </button>
      </span>
      <!-- button end-->
    </div>
  </form>
</div>
