$primary-color: #3498db;
$secondary-color: #1071b3;
$danger-color: #e74c3c;
$dark-text: #34495e;
$light-text-second: #c0ddfb;
$light-text: #ecf0f1;
$light-text-hover: #91c9d7;
$background-color: #ecf0f1;
.orders-list {
  width: 100%;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  background: white;

  h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .flex {
    display: flex;
    justify-content: flex-end;
    button {
      background-color: $dark-text;
      width: 150px;
      min-height: 40px;
      margin: 2px;
      padding: 5px 10px;
      border: none;
    }
  }

  .order-item {
    margin: 10px;
    margin-bottom: 50px;

    .order-info {
      div {
        margin-bottom: 5px;

        button {
          background-color: $dark-text;
          width: 150px;
          min-height: 40px;
          margin: 2px;
          padding: 5px 10px;
          border: none;
          cursor: pointer;
          justify-content: center;
        }
      }
    }

    .product-table {
      width: 100%;
      margin-top: 10px;
      thead {
        th {
          width: 200px;
          padding: 8px;
          text-align: center;
        }
      }
      th,
      td {
        width: 200px;
        padding: 8px;
        text-align: center;
      }

      th {
        background-color: #f2f2f2;
      }
      img.product-image {
        max-width: 50px;
        max-height: 50px;
      }
    }
  }
}

.totalprice {
  position: relative;
  right: -365%;
}

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
  height: 100%;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  min-height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}
