/* get-orders.component.scss */

.orders-list {
  h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    button {
      margin: 0;
    }
  }

  .order-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;

    .order-info {
      margin-bottom: 10px;

      div {
        margin-bottom: 5px;
      }
    }

    .product-list {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;

      .product-item {
        border: 1px solid #ddd;
        border-radius: 8px;
        display: flex;
        flex: 1;
        padding: 15px;

        .product-image {
          border-radius: 8px;
          margin-right: 15px;
          max-width: 100px;
          object-fit: cover;
        }

        .product-details {
          flex: 1;

          div {
            margin-bottom: 5px;
          }

          .product-meta {
            div {
              display: flex;
              justify-content: space-between;
            }
          }
        }
      }
    }

    .total-price {
      h3 {
        margin-top: 15px;
      }
    }
  }
}
.gradient-custom {
  /* fallback for old browsers */
  background: #cd9cf2;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to top left, rgba(205, 156, 242, 1), rgba(246, 243, 255, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to top left, rgba(205, 156, 242, 1), rgba(246, 243, 255, 1))
  }
