
.container {
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    padding: 15px;
    display: flex;
    background: transparent;
    flex-wrap: nowrap;
    flex-direction: row;
}

.container form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 20px;
  width: 650px;
  height: auto;
  background-color: transparent;
  margin: 15px;
  align-items: flex-start;
}

.register-header h2{
  margin-left: 150px;
}
.container form .wrapper{
  margin: 15px;
}
a {
  text-decoration: underline;
  color: #000;
}

a:hover{
  color:#176b87;
}

i{
  display: flex;

}
