<div class="conatiner flex flex-column">
  <div>
    <div class="category-filter flex">

      <div class="card flex flex-column justify-content-start">
        <div>
          <h2 class>{{'dGetorders.header2' | transloco}}</h2>
        </div>
        <div>
          <form [formGroup]="categoryForm" class="flex flex-row">
            <div class="drpdwn">
              <select formControlName="category" (change)="onCategoryChange()">
                <option value="" disabled selected hidden>{{'dGetorders.filterCategory' |transloco}}</option>
                <option *ngFor="let category of categories" [value]="category.name">
                  {{ category.name | transloco }}
                </option>
              </select>
            </div>
            <div class="drpdwn">
              <select formControlName="status" (change)="onStatusChange()">
                <option value="" disabled selected hidden>{{'dGetorders.filterStatus' |transloco}} </option>
                <option *ngFor="let sts of status" [value]="sts.name">
                  {{ sts.name | transloco }}
                </option>
              </select>
            </div>
            <div class="drpdwn">
              <select formControlName="price" (change)="onPriceChange()">
                <option value="" disabled selected hidden>{{'dGetorders.filterPrice' |transloco}}</option>
                <option *ngFor="let price of priceCategories" [value]="price.range">
                  {{ price.name | transloco }}
                </option>
              </select>
            </div>
            <div class="drpdwn">
              <select formControlName="rating" (change)="onRatingChange()">
                <option value="" disabled selected hidden>{{'dGetorders.filterRating' |transloco}}</option>
                <option *ngFor="let rtg of rating" [value]="rtg.value">
                  {{ rtg.name | transloco }}
                </option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <p-table
      #dt2
      [value]="products"
      dataKey="id"
      [rows]="5"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[5, 10, 20]"
      [paginator]="true"
      [globalFilterFields]="[
        'name',
        'product.price',
        'product.category.name',
        'product.selectedStatus.name'
      ]"
      styleClass="table"
    >
      <ng-template pTemplate="caption">
        <div class="flex flex-row justify-content-between align-items-center">
          <div
            class="flex flex-row justify-content-between align-content-center w-21rem"
          >
            <div>
              <span class="button-style">
                <button
                  class="button border-round"
                  [routerLink]="['/creoter/product-management', 'add-product']"
                >
                  <i class="pi pi-plus" style="color: white"></i> {{'dGetProduct.add' | transloco}}
                </button>
              </span>
            </div>
          </div>
          <div class="flex">
            <span class="p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="
                  dt2.filterGlobal($any($event.target).value, 'contains')
                "
                placeholder="Search keyword"
              />
            </span>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th >{{'dGetProduct.id' | transloco}}</th>
          <th >{{'dGetProduct.name' | transloco}}</th>
          <th >{{'dGetProduct.img' | transloco}}</th>
          <th >{{'dGetProduct.price' | transloco}}</th>
          <th >{{'dGetProduct.quantity' | transloco}}</th>
          <th >{{'dGetProduct.rating' | transloco}}</th>
          <th >{{'dGetProduct.status' | transloco}}</th>
          <th >{{'dGetProduct.category' | transloco}}</th>
          <th >{{'dGetProduct.companyName' | transloco}}</th>
          <th >{{'dGetProduct.actions' | transloco}}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>
            <img
              class="w-9 shadow-2 border-round"
              [src]="getFileUrl(product?.file)"
              [alt]="product.name"
            />
          </td>
          <td>{{ product?.priceStacked }}</td>
          <td>{{ product?.quantity }}</td>
          <td> <p-rating
            [ngModel]="product?.valueRating"
            [readonly]="true"
            [cancel]="false"
          ></p-rating></td>
          <td>
            <p-tag
              [value]="product?.selectedStatus.name | stockStatus "
              [severity]="getSeverity(product?.selectedStatus.name)"
            ></p-tag>
          </td>
          <td>
            {{ product?.category | categoryStatus }}

          </td>
          <td>{{ product?.companyName  }}</td>
          <td>
            <div
              class="flex flex-row justify-content-start align-content-center w-21rem"
            >
              <div>
                <span class="button-style">
                  <button pButton class="button" [routerLink]="['/creoter/product-management','update-product' , product.id]">
                    <i class="pi pi-pencil mr-1" style="color: white"></i> {{'dGetProduct.update' | transloco}}
                  </button>
                </span>
              </div>
              <div>
                <span class="button-style" style="margin-left: 5px">
                  <button pButton class="button" (click)="deleteProduct(product.id)">
                    <i class="pi pi-trash mr-1" style="color: white"></i> {{'dGetProduct.delete' | transloco}}
                  </button>
                </span>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">{{'dGetProduct.notFound' | transloco}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
