$primary-color: #3498db;
$secondary-color: #1071b3;
$danger-color: #e74c3c;
$dark-text: #34495e;
$light-text: #ecf0f1;
$background-color: #ecf0f1;
:host ::nng-deep{
  .table{
    width: 90%;

    button{
      background-color: $primary-color;
    }
  }
}
/* product-table.scss */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}
.category-filter{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;

  .title{
    border: none;
    background-color: transparent;
    justify-content: start;
  }

  div{
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
    display: flex;
    width: 150px;
    background-color: #fff;
    margin: 15px;
    color: #555;
    text-align: center;
    justify-content: center;
    align-items: center;
    border:0.5px solid #555;

    &:hover {
      border-color:$dark-text;
    }
  }
}
.card {
  margin-top: 10px;
}

.table {
  margin-top: 20px;

  .button-style {
    button {
      background-color: $dark-text;
      color: white;
      border: none;
      padding: 8px 16px;
      cursor: pointer;
      border-radius: 4px;
      font-size: 14px;


    }
  }

  th, td {
    text-align: center;
    padding: 10px;
    width: 100px;
  }

  img {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
  }

  .p-input-icon-left {
    margin-left: auto;
    margin-right: 10px;

    input {
      padding-left: 30px;
    }
  }

  .flex {
    display: flex;
  }

  .justify-content-between {
    justify-content: space-between;
  }

  .align-items-center {
    align-items: center;
  }
}

:host ::ng-deep{

  td,th{
    justify-content: center;
    width: 100px;
  }

  .button{
    background-color: $dark-text;
    border: none;
    padding: 10px;
    color:#fff;
  }

  .p-tag-value{
    width: 60px;
  }
}
