<div class="container">
  <form [formGroup]="userFormLogin">
    <div
      class="block justify-content-center align-content-center text-2xl"
      style="background: transparent"
    >
      <h2>{{ "loginForm.header" | transloco }}</h2>
    </div>
    <span class="p-float-label mt-4">
      <i class="pi pi-envelope" style="color: #000"></i>
      <input
        pInputText
        type="email"
        id="email"
        formControlName="email"

      />
      <label htmlFor="email">{{ "loginForm.emailLabel" | transloco }}</label>
    </span>
    <small
      *ngIf="
        userFormLogin.get('email')?.invalid &&
        userFormLogin.get('email')?.touched
      "
      class="text-red-500"
    >
      {{
        userFormLogin.get("email").errors != null &&
        userFormLogin.get("email").errors["whitespace"]
          ? ("registerForm.emailSmall" | transloco)
          : ""
      }}
      {{
        userFormLogin.get("email").errors != null &&
        userFormLogin.get("email").errors["required"]
          ? ("registerForm.emailSmall" | transloco)
          : ""
      }}
    </small>
    <span class="p-float-label mt-4">
      <i class="pi pi-lock" style="color: #000"></i>
      <p-password
        id="password"
        formControlName="password"
        styleClass="password"
        [toggleMask]="true"
        [feedback]="false"
      ></p-password>
      <label htmlFor="password">{{
        "loginForm.passwordLabel" | transloco
      }}</label>
    </span>
    <small
      *ngIf="
        userFormLogin.get('password')?.invalid &&
        userFormLogin.get('password')?.touched
      "
      class="text-red-500"
    >
      {{
        userFormLogin.get("password").errors != null &&
        userFormLogin.get("password").errors["whitespace"]
          ? ("registerForm.passwordSmall" | transloco)
          : ""
      }}
      {{
        userFormLogin.get("password").errors != null &&
        userFormLogin.get("password").errors["required"]
          ? ("registerForm.passwordSmall" | transloco)
          : ""
      }}
      <!-- {{userFormLogin.get('password')?.value.lenght() < 8 ? ("Şifre en az 8 karakter uzunluğunda olmalıdır") : '' }} -->
    </small>
    <div class="mb-2">
      <span class="mt-4">
        <div class="remember-forget align-content-center align-content-center">
          <div class="flex flex-row mr-3 mb-3">
            <div class="flex">
              <input
                id="remember"
                name="remember"
                type="checkbox"
                style="width: 15px; height: 15px"
              />
              <label for="remember">
                {{ "loginForm.rememberme" | transloco }}</label
              >
            </div>
          </div>
          <div class="mb-3">
            <a routerLink="/reset-password">{{
              "loginForm.dontforget" | transloco
            }}</a>
          </div>
        </div>
      </span>
    </div>
    <div class="mb-3">
      <span class="button-style mt-4">
        <button pButton class="button" (click)="onSubmitLogin()">
          {{ "loginForm.buttonLabel" | transloco }}
        </button>
      </span>
    </div>
    <div>
      <span
        class="register-span flex flex-row justify-content-between align-items-center mb-3"
      >
        <div>
          <p>{{ "loginForm.haveaccount" | transloco }}</p>
        </div>
        <div>
          <a routerLink="/register">{{ "loginForm.createnow" | transloco }}</a>
        </div>
      </span>
    </div>
    <div
      class="social block align-items-center text-center justify-content-center align-self-center"
    >
      <div class="container-social">
        <div class="header-social">
          <h3>{{ "startForm.headerSocial" | transloco }}</h3>
        </div>
        <div class="description-social">
          <p>{{ "startForm.descSocialOne" | transloco }}</p>
          <p>{{ "startForm.descSocialTwo" | transloco }}</p>
        </div>
        <div class="icon-social flex justify-content-center">
          <a>
            <div class="flex-1 font-bold text-center cursor-pointer p-4 w-full">
              <asl-google-signin-button
                *ngIf="!user"
                type="icon"
                class="pi google"
              ></asl-google-signin-button>
              <p>{{ "startForm.piGoogle" | transloco }}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </form>

  <!-- <ng-container *ngIf="userProfile">
  <div>Welcome, {{ userProfile.name }}</div>

</ng-container>
<button id="signout-button" (click)="handleSignOut()">Sign Out</button> -->
</div>
