<!-- sidebar.component.html -->
<div class="card">
  <div class="sidebar">
    <div class="sidebar-header">
      <img src="assets/images/OI_logo.png" alt="Orion Logo"/>
    </div>
    <ul class="sidebar-menu">
      <li class="sidebar-menu-item">{{'cardElementForm.category' | transloco}}
        <ul class="sub-menu">
          <li><label><input type="checkbox" (click)="filterByCategory('19-20')"> 19-20</label></li>
          <li><label><input type="checkbox" (change)="filterByCategory('19-22')"> 19-22</label></li>
          <li><label><input type="checkbox" (change)="filterByCategory('20')"> 20</label></li>
          <li><label><input type="checkbox" (change)="filterByCategory('21')"> 21</label></li>
          <!-- Diğer kategori seçenekleri burada -->
        </ul>
      </li>

      <li class="sidebar-menu-item">{{'cardElementForm.advantage' | transloco}}
        <ul class="sub-menu">
          <li><label><input type="checkbox" (change)="filterByCategory('electronics')"> {{'cardElementForm.electronics' | transloco}}</label></li>
          <li><label><input type="checkbox" (change)="filterByCategory('clothing')"> {{'cardElementForm.clothing' | transloco}}</label></li>
          <!-- Diğer avantajlı ürün kategorileri burada -->
        </ul>
      </li>

      <li class="sidebar-menu-item">{{'cardElementForm.gender' | transloco}}
        <ul class="sub-menu">
          <li><label><input type="checkbox" (change)="filterByCategory('male')"> {{'cardElementForm.male' | transloco}}</label></li>
          <li><label><input type="checkbox" (change)="filterByCategory('female')"> {{'cardElementForm.female' | transloco}}</label></li>
          <li><label><input type="checkbox" (change)="filterByCategory('unisex')"> {{'cardElementForm.unisex' | transloco}}</label></li>
          <!-- Diğer cinsiyet seçenekleri burada -->
        </ul>
      </li>

      <li class="sidebar-menu-item">{{'cardElementForm.price' | transloco}}
        <ul class="sub-menu">
          <li><label><input type="checkbox" (change)="filterByCategory('0-50')"> 0-50 TL</label></li>
          <li><label><input type="checkbox" (change)="filterByCategory('51-100')"> 51-100 TL</label></li>
          <li><label><input type="checkbox" (change)="filterByCategory('101-200')"> 101-200 TL</label></li>
          <!-- Diğer fiyat aralıkları burada -->
        </ul>
      </li>

      <li class="sidebar-menu-item">{{'cardElementForm.color' | transloco}}
        <ul class="sub-menu">
          <li><label><input type="checkbox" (change)="filterByCategory('red')"> Kırmızı</label></li>
          <li><label><input type="checkbox" (change)="filterByCategory('blue')"> Mavi</label></li>
          <li><label><input type="checkbox" (change)="filterByCategory('green')"> Yeşil</label></li>
          <!-- Diğer renk seçenekleri burada -->
        </ul>
      </li>

      <li class="sidebar-menu-item">{{'cardElementForm.material' | transloco}}
        <ul class="sub-menu">
          <li><label><input type="checkbox" (change)="filterByCategory('cotton')"> Pamuk</label></li>
          <li><label><input type="checkbox" (change)="filterByCategory('leather')"> Deri</label></li>
          <li><label><input type="checkbox" (change)="filterByCategory('wood')"> Ahşap</label></li>
          <!-- Diğer malzeme seçenekleri burada -->
        </ul>
      </li>

      <!-- Diğer özellikler -->
      <li class="sidebar-menu-item">{{'cardElementForm.property' | transloco}}
        <ul class="sub-menu">
          <li><label><input type="checkbox" (change)="filterByCategory('waterproof')"> Su Geçirmez</label></li>
          <li><label><input type="checkbox" (change)="filterByCategory('adjustable')"> Ayarlanabilir</label></li>
          <!-- Diğer ek özellikler burada -->
        </ul>
      </li>

      <li class="sidebar-menu-item">{{'cardElementForm.usearea' | transloco}}
        <ul class="sub-menu">
          <li><label><input type="checkbox" (change)="filterByCategory('sports')"> Spor</label></li>
          <li><label><input type="checkbox" (change)="filterByCategory('casual')"> Günlük Kullanım</label></li>
          <!-- Diğer kullanım alanları burada -->
        </ul>
      </li>

      <li class="sidebar-menu-item">{{'cardElementForm.buyertype' | transloco}}
        <ul class="sub-menu">
          <li><label><input type="checkbox" (change)="filterByCategory('official-store')"> Resmi Mağaza</label></li>
          <li><label><input type="checkbox" (change)="filterByCategory('marketplace')"> Pazaryeri Satıcısı</label></li>
          <!-- Diğer satıcı tipleri burada -->
        </ul>
      </li>

      <li class="sidebar-menu-item">{{'cardElementForm.size' | transloco}}
        <ul class="sub-menu">
          <li><label><input type="checkbox" (change)="filterByCategory('low')"> Düşük</label></li>
          <li><label><input type="checkbox" (change)="filterByCategory('medium')"> Orta</label></li>
          <li><label><input type="checkbox" (change)="filterByCategory('high')"> Yüksek</label></li>
          <!-- Diğer topuk boyları burada -->
        </ul>
      </li>

      <li class="sidebar-menu-item">{{'cardElementForm.bsize' | transloco}}
        <ul class="sub-menu">
          <li><label><input type="checkbox" (change)="filterByCategory('laces')"> Bağcıklı</label></li>
          <li><label><input type="checkbox" (change)="filterByCategory('zipper')"> Fermuarlı</label></li>
          <!-- Diğer bağlama şekilleri burada -->
        </ul>
      </li>

      <li class="sidebar-menu-item">{{'cardElementForm.fenomen' | transloco}}
        <ul class="sub-menu">
          <li><label><input type="checkbox" (change)="filterByCategory('celebrity-picks')"> Ünlülerin Tercihleri</label></li>
          <li><label><input type="checkbox" (change)="filterByCategory('influencer-picks')"> Etkileyicilerin Tercihleri</label></li>
          <!-- Diğer fenomen tercihleri burada -->
        </ul>
      </li>

      <li class="sidebar-menu-item">{{'cardElementForm.taban' | transloco}}
        <ul class="sub-menu">
          <li><label><input type="checkbox" (change)="filterByCategory('rubber')"> Lastik</label></li>
          <li><label><input type="checkbox" (change)="filterByCategory('leather')"> Deri</label></li>
          <!-- Diğer taban malzemeleri burada -->
        </ul>
      </li>

      <li class="sidebar-menu-item">{{'cardElementForm.priceHistory' | transloco}}</li>
      <li class="sidebar-menu-item">{{'cardElementForm.region' | transloco}}</li>
    </ul>
  </div>
</div>
