<div class="card">
  <p-accordion >
      <p-accordionTab header="Marka">
      </p-accordionTab>
      <p-accordionTab header="Beden">
      </p-accordionTab>
      <p-accordionTab header="Cinsiyet">
      </p-accordionTab>
      <p-accordionTab header="Yıldızlı Ürünler">
      </p-accordionTab>
      <p-accordionTab header="Renk">
      </p-accordionTab>
      <p-accordionTab header="Yaka Tipi">
      </p-accordionTab>
      <p-accordionTab header="Fiyat">
      </p-accordionTab>
      <p-accordionTab header="Kalıp">
      </p-accordionTab>
      <p-accordionTab header="Kol Tipi">
      </p-accordionTab>
      <p-accordionTab header="Desen">
      </p-accordionTab>
      <p-accordionTab header="Materyal">
      </p-accordionTab>
      <p-accordionTab header="Kol Boyu">
      </p-accordionTab>
      <p-accordionTab header="Model">
      </p-accordionTab>
      <p-accordionTab header="Kumaş Tipi">
      </p-accordionTab>
      <p-accordionTab header="Kullanım Alanı">
      </p-accordionTab>
      <p-accordionTab header="Boy">
      </p-accordionTab>
      <p-accordionTab header="Ortam">
      </p-accordionTab>
      <p-accordionTab header="Dokuma Tipi">
      </p-accordionTab>
      <p-accordionTab header="Yaş">
      </p-accordionTab>
      <p-accordionTab header="Satıcı Tipi">
      </p-accordionTab>
      <p-accordionTab header="Parça Sayısı">
      </p-accordionTab>
  </p-accordion>
</div>
