.surface-section {
  padding: 2rem; /* px-4 */
  border: 1px solid #e1e1e1;
  border-radius: 0.75rem;

}

.surface-section .text-4xl {
  font-size: 2.25rem;
}

.surface-section .mb-4 {
  margin-bottom: 1rem;
  text-align: start;
}

.surface-section .p-4 {
  padding: 1rem;
}

.surface-section .shadow-1 {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.surface-section .flex {
  display: flex;
  text-align: start;
}

.surface-section .mx-1 {
  margin-right: 0.25rem;
}

.surface-section .image img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.surface-section .category span {
  margin-right: 0.5rem;
}

.surface-section .name span {
  font-size: 1rem;
}

.surface-section .description p {
  margin: 0;
}

.surface-section .price {
  cursor: pointer;
  margin-left: 0.75rem;
}


