<aside>
  <a [routerLink]="['product-management']" >
    <i class="fa fa-laptop" aria-hidden="true"></i>
    {{'dSidebar.pm' | transloco}}  </a>
  <a [routerLink]="['order-management']">
    <i class="fa fa-clone" aria-hidden="true"></i>
    {{'dSidebar.om' | transloco}}
  </a>
  <a [routerLink]="['reporting']">
    <i class="fa fa-star-o" aria-hidden="true"></i>
    {{'dSidebar.rpt' | transloco}}
  </a>
  <a [routerLink]="['profil-management']">
    <i class="fa fa-trash-o" aria-hidden="true"></i>
    {{'dSidebar.ps' | transloco}}
  </a>
</aside>
