$dark-text: #34495e;
.logout{
  width: 200px;
  color: $dark-text;
  cursor: pointer;
}

.custom-select{
  appearance: none;
  border: none;
  padding: 5px;
}

.custom-select::after {
  border: none;
}
