<div class="bg-white p-4 w-full">
  <form [formGroup]="updateProductForm">
    <div class="flex w-full align-items-center justify-content-center">
      <h4>{{'dUpdateProduct.header' | transloco}}</h4>
    </div>
      <!-- Name input start-->
      <div class="wrapper">
        <div class="flex-auto mt-4">
          <label htmlFor="name" class="mb-2 block">{{'dAddProduct.name' | transloco}}</label>
          <input
            pInputText
            id="name"
            aria-describedby="name"
            formControlName="name"
            class="w-full"
          />
        </div>
      </div>
      <!-- Name input end-->
       <!-- desc  input start-->
    <div class="wrapper mt-4 block">
      <label for="float-input">{{'dAddProduct.desc' | transloco}}</label>
      <span class="flex-auto mt-2">
        <textarea
          id="float-input"
          rows="10"
          cols="70"
          class="p-3 w-full"
          formControlName="description"
          pInputTextarea
        ></textarea>
      </span>
    </div>
    <!-- input end-->
   <div class="flex flex-row w-full">
     <!-- Code input start-->
     <div class="wrapper w-full">
      <div class="flex-auto mt-4">
        <label class="mb-2 block" for="code">{{'dAddProduct.pcode' | transloco}}</label>
        <input
          pInputText
          formControlName="code"
          inputId="code"
          class="w-full"
        >
      </div>
    </div>
    <!-- Code input end-->
    <!-- Quantitiy input start-->
    <div class="wrapper w-full">
      <div class="flex-auto mt-4">
        <label class="mb-2 block" for="quantity">{{'dAddProduct.quantity' | transloco}}</label>
        <input
          pInputText
          formControlName="quantity"
          inputId="quantity"
          class="w-full"
        >
      </div>
    </div>
    <!-- Quantitiy input end-->
    <!-- Price input start-->
    <div class="wrapper w-full">
      <div class="flex-auto mt-4">
        <label class="mb-2 block" for="priceStacked">{{'dAddProduct.price' | transloco}}</label>
        <p-inputNumber
          formControlName="priceStacked"
          [showButtons]="true"
          inputId="priceStacked"
          mode="currency"
          currency="USD"
          class="w-full"
        >
        </p-inputNumber>
      </div>
    </div>
    <!-- Price input end-->
   </div>
    <!-- Image input start-->
    <div class="wrapper w-full flex flex-row align-items-center">
      <div class="flex-auto mt-4">
        <img
        [src]="getFileUrl(getFile)"
        class="flex-shrink-0 mx-auto md:mx-0"
        width="300"
        height="300"
      />
      </div>
      <div class="flex-auto mt-4 ml-2 w-full">
        <label htmlFor="file" class="mb-2 block">{{'dAddProduct.file' | transloco}}</label>
        <input
          type="file"
          pInputText
          id="file"
          formControlName="file"
          (change)="onFileSelected($event)"
          class="custom-file-input"
        />
      </div>
    </div>
    <!-- Image input end-->
   <div class="flex flex-row align-items-center">
     <!-- category  input start-->
     <div class="wrapper block w-full">
      <div class="flex-auto mt-4">
        <label htmlFor="category" class="mb-2 block">{{'dAddProduct.category' | transloco}}</label>
        <select formControlName="category">
          <option value="" disabled selected hidden>{{ 'dAddProduct.category' | transloco }}</option>
          <option *ngFor="let category of categorys" [value]="category.name">
            {{ category.name | transloco }}
          </option>
        </select>
      </div>
    </div>
    <!-- category  input end-->
  <!-- rating  input start-->
  <div class="wrapper block w-full">
    <div class="flex-auto mt-4">
      <div class="flex flex-column justify-content-center border-round">
        <label for="valueRating" class="mb-2 block">{{'dAddProduct.rating' | transloco}}</label>
        <select formControlName="valueRating">
          <option value="" disabled selected hidden>{{ 'dAddProduct.rating' | transloco }}</option>
          <option *ngFor="let item of items" [value]="item.value">
            {{ item.value | transloco }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <!-- rating  input end-->
</div>
    <!-- button start-->
    <div class="wrapper w-full justify-content-center mt-4">
      <span class="button-style mt-4 w-full">
        <button class="button" (click)="updateProduct()">{{'dUpdateProduct.update' | transloco}}</button>
      </span>
    </div>
    <!-- button end-->
  </form>
</div>
