<div
  class="surface-section border-1 surface-border border-round px-4 py-8 md:px-6 lg:px-8"
>
  <ul class="list-none p-0 m-0">
    <li
      *ngFor="let product of products"
      class="flex flex-column md:flex-row py-6 border-top-1 border-bottom-1 surface-border md:align-items-center"
    >
      <img
        [src]="
          'https://primefaces.org/cdn/primeng/images/demo/product/' +
          product?.file
        "
        class="w-12rem flex-shrink-0 mx-auto md:mx-0"
      />
      <div class="flex-auto py-5 md:pl-5">
        <div
          class="flex flex-wrap align-items-start sm:align-items-center sm:flex-row sm:justify-content-between surface-border pb-6"
        >
          <div class="w-full sm:w-6 flex flex-column">
            <span class="text-900 text-xl font-medium mb-3">{{
              product.name
            }}</span>
          </div>
          <div
            class="w-full sm:w-6 flex align-items-start justify-content-between mt-3 sm:mt-0"
          >
            <div>
              {{product.quantity}}
            </div>
            <div class="flex flex-column sm:align-items-end">
              <span class="text-900 text-xl font-medium mb-2 sm:mb-3">{{
                "$" + product.priceStacked
              }}</span>
              <a
                (click)="deleteCarts(product.id)"
                class="cursor-pointer text-blue-300 font-medium text-sm hover:text-blue-800 transition-colors transition-duration-300"
                tabindex="0"
                >Sil</a
              >
            </div>
          </div>
        </div>
        <div class="flex flex-column">
          <span class="inline-flex align-items-center mb-3">
            <i class="pi pi-envelope text-700 mr-2"></i>
            <span class="text-700 mr-2">Order today.</span>
          </span>
          <span class="inline-flex align-items-center mb-3">
            <i class="pi pi-send text-700 mr-2"></i>
            <span class="text-700 mr-2"
              >Delivery by <span class="font-bold">Dec 23.</span></span
            >
          </span>
          <span class="flex align-items-center">
            <i class="pi pi-exclamation-triangle text-700 mr-2"></i>
            <span class="text-700">Only {{ product.quantity }} Available.</span>
          </span>
        </div>
      </div>
    </li>
  </ul>
  <div class="flex">
    <div class="w-12rem hidden md:block"></div>
    <ul class="list-none py-0 pr-0 pl-0 md:pl-5 mt-6 mx-0 mb-0 flex-auto">
      <li class="flex justify-content-between mb-4">
        <span class="text-xl text-900 font-semibold">Subtotal</span>
        <span class="text-xl text-900">{{ "$" + totalPrice }}</span>
      </li>
      <!-- Diğer maliyetleri ekleyin -->
      <li class="flex justify-content-end">
        <button pButton pRipple (click)="completeOrder()" label="Check Out"></button>
      </li>
    </ul>
  </div>
</div>
