.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;

    .header__logo {
      strong {
        font-size: 1.5rem;
      }
    }

    .navbar {
      display: flex;
      .navbar__menu {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
      }

      .navbar__item {
        margin-right: 1rem;

        .navbar__link {
          color: #fff;
          text-decoration: none;
          display: flex;
          align-items: center;

          i {
            margin-right: 0.5rem;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .product-body {
    display: flex;
    flex: 1;
    overflow: hidden;

    .product-list {
      flex: 1;
      overflow-y: auto;
      padding: 1rem;
    }
  }
}
