$primary-color: #3498db;
$secondary-color: #1071b3;
$danger-color: #e74c3c;
$dark-text: #34495e;
$light-text: #ecf0f1;
$light-text-hover: #91c9d7;
$background-color: #ecf0f1;
.container {
  width: auto;
  display: flex;

  .header-nav {
    width: auto;
    height: 60px;
    position: absolute;
    top: 0;
    left: 250px;
    right: 0;
    background-image: $background-color;
    border-bottom-left-radius: 80px;
    z-index: -1;
    div {
      margin: 20px;
      font-size: 14px;
      color: $dark-text;
      padding: 12px;
      padding-left: 30px;
      text-decoration: none;
      -webkit-tap-highlight-color: transparent;
      &::hover {
        color: $primary-color;
        background:$light-text-hover ;
        outline: none;
        background-color: $light-text-hover;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }
    }
  }

  .sidebar {
    max-width: 300px;
    margin-right: 10px;
  }

  .product-body {
    margin-top: 80px;
  }
}
