.container{
  display: flex;
  justify-content: center;
  align-items: center;
}


.product-body{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  min-width: 100%;
}
.product-filter{
  width: 500px;
  height: 100%;
  float: left;
}
.product-list{
  position: relative;
  margin:5px;
  width: 100%;
  justify-content: center;
  align-items: center;

}
