.page-layout {
  display: flex;
  justify-content: space-between;
}



.content {
  width: 80%; /* İçerik alanının genişliği, ihtiyaca göre ayarlayın */
  padding: 1rem;
}

/* Ekstra stillendirme seçenekleri için kullanılabilir */
