<div class="page-layout">
  <div class="sidebar">
    <!-- Yan çubuk içeriği -->
  </div>
  <div class="content">
        <ng-container *ngIf="showLoading; else contentLoading">
          <app-loading></app-loading>
        </ng-container>
        <ng-template #contentLoading>
          <ng-container *ngIf="hasData; else default">
            <app-content-table></app-content-table>
          </ng-container>
        </ng-template>
        <ng-template #default>
          <app-default-content></app-default-content>
        </ng-template>
      </div>
    </div>

