<div class="container">
  <form [formGroup]="creoterForm">
    <div
      class="register-header block justify-content-center align-content-center align-items-center text-2xl w-full"
      style="background: transparent"
    >
    <h3>to be creoter</h3>
    </div>
    <!-- Company Name input start-->
    <div class="wrapper">
      <span class="p-float-label mt-4">
        <i class="pi pi-user" style="color: #000"></i>
        <input
          pInputText
          id="companyName"
          formControlName="companyName"
          pTooltip="{{'registerForm.nameTooltip' | transloco }}"
        />
        <label htmlFor="companyName"> {{"registerForm.nameLabel" | transloco }} </label>
      </span>
      <small
        *ngIf="
          creoterForm.get('companyName')?.invalid &&
          creoterForm.get('companyName')?.touched
        "
        class="text-red-500"
      >
        {{
          creoterForm.get("companyName").errors != null &&
          creoterForm.get("companyName").errors["whitespace"]
            ? ("registerForm.nameSmall" | transloco)
            : ""
        }}
        {{
          creoterForm.get("companyName").errors != null &&
          creoterForm.get("companyName").errors["required"]
            ? ("registerForm.nameSmall" | transloco)
            : ""
        }}
      </small>
    </div>
    <!-- Company Name input end-->

    <!-- Tax number input start-->
    <div class="wrapper">
      <span class="p-float-label mt-4">
        <i class="pi pi-user" style="color: #000"></i>
        <input
          pInputText
          id="taxNumber"
          formControlName="taxNumber"
          pTooltip="{{'registerForm.usernameTooltip' | transloco }}"
        />
        <label htmlFor="taxNumber">{{
          "registerForm.usernameLabel" | transloco
        }}</label>
      </span>
      <small
        *ngIf="
          creoterForm.get('taxNumber')?.invalid &&
          creoterForm.get('taxNumber')?.touched
        "
        class="text-red-500"
      >
        {{
          creoterForm.get("taxNumber").errors != null &&
          creoterForm.get("taxNumber").errors["whitespace"]
            ? ("registerForm.usernameSmall" | transloco)
            : ""
        }}
        {{
          creoterForm.get("taxNumber").errors != null &&
          creoterForm.get("taxNumber").errors["required"]
            ? ("registerForm.usernameSmall" | transloco)
            : ""
        }}
      </small>
    </div>
    <!-- Tax number input end-->

    <!-- email input start-->
    <div class="wrapper">
      <span class="p-float-label mt-4">
        <i class="pi pi-envelope" style="color: #000"></i>
        <input
          pInputText
          id="email"
          formControlName="email"
          pTooltip="{{'registerForm.emailTooltip' | transloco }}"
        />
        <label htmlFor="email">{{
          "registerForm.emailLabel" | transloco
        }}</label>
      </span>
      <small
        *ngIf="
          creoterForm.get('email')?.invalid &&
          creoterForm.get('email')?.touched
        "
        class="text-red-500"
      >
        {{
          creoterForm.get("email").errors != null &&
          creoterForm.get("email").errors["whitespace"]
            ? ("registerForm.emailSmall" | transloco)
            : ""
        }}
        {{
          creoterForm.get("email").errors != null &&
          creoterForm.get("email").errors["required"]
            ? ("registerForm.emailSmall" | transloco)
            : ""
        }}
      </small>
    </div>
    <!-- email input end-->

    <!-- button start-->
    <span class="button-style mt-4">
      <button class="button" (click)="onSubmit()">
        {{ "registerForm.buttonLabel" | transloco }}
      </button>
    </span>
    <!-- button end-->


    <div class="verifyCode" >
       <!-- code  input start-->
    <div class="wrapper">
      <span class="p-float-label mt-4">
        <i class="pi pi-user" style="color: #000"></i>
        <input
          pInputText
          id="code"
          formControlName="code"
          pTooltip="{{'registerForm.nameTooltip' | transloco }}"
        />
        <label htmlFor="code"> {{"registerForm.nameLabel" | transloco }} </label>
      </span>
      <small
        *ngIf="
          creoterForm.get('code')?.invalid &&
          creoterForm.get('code')?.touched
        "
        class="text-red-500"
      >
        {{
          creoterForm.get("code").errors != null &&
          creoterForm.get("code").errors["whitespace"]
            ? ("registerForm.nameSmall" | transloco)
            : ""
        }}
        {{
          creoterForm.get("code").errors != null &&
          creoterForm.get("code").errors["required"]
            ? ("registerForm.nameSmall" | transloco)
            : ""
        }}
      </small>
    </div>
    <!-- code  input end-->
    <!-- button start-->
    <span class="button-style mt-4">
      <button class="button" (click)="verifyCode()">
        {{ "registerForm.buttonLabel" | transloco }}
      </button>
    </span>
    <!-- button end-->
    </div>
  </form>
</div>
