<div class="container">
  <form [formGroup]="creoterForm">
    <div
      class="register-header block justify-content-center align-content-center align-items-center text-2xl w-full"
      style="background: transparent"
    >
      <h3>{{ "creoterForm.header" | transloco }}</h3>
    </div>
    <!-- Company Name input start-->
    <div class="wrapper">
      <span class="p-float-label mt-4">
        <i class="pi pi-building" style="color: #000"></i>
        <input pInputText id="companyName" formControlName="companyName" />
        <label htmlFor="companyName">
          {{ "creoterForm.nameLabel" | transloco }}
        </label>
      </span>
      <small
        *ngIf="
          creoterForm.get('companyName')?.invalid &&
          creoterForm.get('companyName')?.touched
        "
        class="text-red-500"
      >
        {{
          creoterForm.get("companyName").errors != null &&
          creoterForm.get("companyName").errors["whitespace"]
            ? ("creoterForm.nameSmall" | transloco)
            : ""
        }}
        {{
          creoterForm.get("companyName").errors != null &&
          creoterForm.get("companyName").errors["required"]
            ? ("creoterForm.nameSmall" | transloco)
            : ""
        }}
      </small>
    </div>
    <!-- Company Name input end-->

    <!-- Tax number input start-->
    <div class="wrapper">
      <span class="p-float-label mt-4">
        <i class="pi pi-id-card" style="color: #000"></i>
        <input pInputText id="taxNumber" formControlName="taxNumber" />
        <label htmlFor="taxNumber">{{
          "creoterForm.taxNumberLabel" | transloco
        }}</label>
      </span>
      <small
        *ngIf="
          creoterForm.get('taxNumber')?.invalid &&
          creoterForm.get('taxNumber')?.touched
        "
        class="text-red-500"
      >
        {{
          creoterForm.get("taxNumber").errors != null &&
          creoterForm.get("taxNumber").errors["whitespace"]
            ? ("creoterForm.taxNumberSmall" | transloco)
            : ""
        }}
        {{
          creoterForm.get("taxNumber").errors != null &&
          creoterForm.get("taxNumber").errors["required"]
            ? ("creoterForm.taxNumberSmall" | transloco)
            : ""
        }}
      </small>
    </div>
    <!-- Tax number input end-->

    <!-- email input start-->
    <div class="wrapper">
      <span class="p-float-label mt-4">
        <i class="pi pi-envelope" style="color: #000"></i>
        <input pInputText id="email" formControlName="email" />
        <label htmlFor="email">{{
          "creoterForm.emailLabel" | transloco
        }}</label>
      </span>
      <small
        *ngIf="
          creoterForm.get('email')?.invalid && creoterForm.get('email')?.touched
        "
        class="text-red-500"
      >
        {{
          creoterForm.get("email").errors != null &&
          creoterForm.get("email").errors["whitespace"]
            ? ("creoterForm.emailSmall" | transloco)
            : ""
        }}
        {{
          creoterForm.get("email").errors != null &&
          creoterForm.get("email").errors["required"]
            ? ("creoterForm.emailSmall" | transloco)
            : ""
        }}
      </small>
    </div>
    <!-- email input end-->
    <!-- city input start-->
    <div class="wrapper">
      <span class="p-float-label mt-4">
        <i class="pi pi-envelope" style="color: #000"></i>
        <p-dropdown
          [options]="cities"
          formControlName="city"
          styleClass="dropdown"
          optionLabel="label"
          [showClear]="true"
          (ngModelChange)="onCityChange($event)"
          placeholder="{{'creoterForm.cityName' | transloco}}"
        ></p-dropdown>
        <label htmlFor="city">{{ "creoterForm.cityLabel" | transloco }}</label>
      </span>
      <small
        *ngIf="
          creoterForm.get('city')?.invalid && creoterForm.get('city')?.touched
        "
        class="text-red-500"
      >
        {{
          creoterForm.get("city").errors != null &&
          creoterForm.get("city").errors["whitespace"]
            ? ("creoterForm.citySmall" | transloco)
            : ""
        }}
        {{
          creoterForm.get("city").errors != null &&
          creoterForm.get("city").errors["required"]
            ? ("creoterForm.citySmall" | transloco)
            : ""
        }}
      </small>
    </div>
    <!-- city input end-->
    <!-- discrits input start-->
    <div class="wrapper">
      <span class="p-float-label mt-4">
        <i class="pi pi-envelope" style="color: #000"></i>
        <p-dropdown
          [options]="districts"
          styleClass="dropdown"
          formControlName="discrits"
          optionLabel="label"
          [showClear]="true"
          placeholder="{{'creoterForm.districtsName' | transloco}}"
        ></p-dropdown>
        <label htmlFor="discrits">{{
          "creoterForm.districtsLabel" | transloco
        }}</label>
      </span>
      <small
        *ngIf="
          creoterForm.get('discrits')?.invalid &&
          creoterForm.get('discrits')?.touched
        "
        class="text-red-500"
      >
        {{
          creoterForm.get("discrits").errors != null &&
          creoterForm.get("discrits").errors["whitespace"]
            ? ("creoterForm.districtsSmall" | transloco)
            : ""
        }}
        {{
          creoterForm.get("discrits").errors != null &&
          creoterForm.get("discrits").errors["required"]
            ? ("creoterForm.districtsSmall" | transloco)
            : ""
        }}
      </small>
    </div>
    <!-- discrits input end-->

    <!-- button start-->
    <span class="button-style mt-4">
      <button class="button" (click)="onSubmit()">
        {{ "creoterForm.buttonLabel" | transloco }}
      </button>
    </span>
    <!-- button end-->

    <!-- <div class="verifyCode" *ngIf="senderMail | async">
    
      <div class="wrapper">
        <span class="p-float-label mt-4">
          <i class="pi pi-key" style="color: #000"></i>
          <input pInputText id="code" formControlName="code" />
          <label htmlFor="code">
            {{ "creoterForm.codeLabel" | transloco }}
          </label>
        </span>
        <small
          *ngIf="
            creoterForm.get('code')?.invalid && creoterForm.get('code')?.touched
          "
          class="text-red-500"
        >
          {{
            creoterForm.get("code").errors != null &&
            creoterForm.get("code").errors["whitespace"]
              ? ("creoterForm.codeSmall" | transloco)
              : ""
          }}
          {{
            creoterForm.get("code").errors != null &&
            creoterForm.get("code").errors["required"]
              ? ("creoterForm.codeSmall" | transloco)
              : ""
          }}
        </small>
      </div>
      
      <span class="button-style mt-4">
        <button class="button" (click)="verifyCode()">
          {{ "creoterForm.codeButton" | transloco }}
        </button>
      </span>
     
    </div> -->
  </form>
</div>
