<div class="block align-items-center w-full h-full justify-content-center bg-white font-bold m-2 px-5 py-3 border-round">
  <div class="header-title block w-full m-3">
    <h3>{{ "ordersForm.title" | transloco }}</h3>
  </div>
  <div class="block m-3 justify-content-center">
    <div class="card flex justify-content-center">
      <p-image
        class="img"
        src="https://cdn.icon-icons.com/icons2/1458/PNG/512/heartbutton_99629.png"
        alt="Image"
        width="300"
        height="100%"
      ></p-image>
    </div>
    <div class="card flex justify-content-center">
      <h3>{{ "ordersForm.title" | transloco }}</h3>
    </div>
    <div class="card flex justify-content-center text-xl">
      <h6>
        {{ "ordersForm.desc" | transloco }}
        {{ "ordersForm.desc2" | transloco }}
      </h6>
    </div>
    <div class="card justify-content-center align-content-center">
      <span class="button-style">
        <button class="button w-full" routerLink="/product">
          {{ "ordersForm.buttonLabel" | transloco }}
        </button>
      </span>
    </div>
  </div>
</div>
