$primary-color: #3498db;
$secondary-color: #1071b3;
$danger-color: #e74c3c;
$dark-text: #34495e;
$light-text: #ecf0f1;
$light-text-hover: #91c9d7;
$background-color: #ecf0f1;


:host ::ng-deep{
  .button{
    background-color: $secondary-color;
    padding: 10px;
    color: #fff;
    border: none;
  }
}
