<div class="flex flex-column align-items-center bg-gray-200 p-5 justify-content-center">
  <div class="flex flex-column border-round m-2">
    <div class="align-items-center justify-content-center border-round m-2">
      <h3>{{'userContact.header' | transloco}}
      </h3>
      <p class="flex flex-wrap">
        {{'userContact.headerP' | transloco}}
      </p>
    </div>
    <div class="flex flex-column w-full border-1 border-round p-4">
     <div class="align-content-center">
      <div><h4 class="block">{{'userContact.sms' | transloco}}</h4></div>
      <div class="flex flex-row align-content-center align-items-center justify-content-evenly"  >
        <div class="w-20rem"><p>{{'userContact.smsP' | transloco}}</p></div>
        <div><p-inputSwitch  class="m-4"></p-inputSwitch></div>
      </div>
     </div>
     <div class="align-content-center">
      <div><h4 class="block">{{'userContact.eposta' | transloco}}</h4></div>
      <div class="flex flex-row align-content-center align-items-center justify-content-evenly"  >
        <div class="w-20rem"><p>{{'userContact.epostaP' | transloco}}
        </p></div>
        <div><p-inputSwitch  class="m-4"></p-inputSwitch></div>
      </div>
     </div>
     <div class="align-content-center">
      <div><h4 class="block">{{'userContact.phoneCall' | transloco}}</h4></div>
      <div class="flex flex-row align-content-center align-items-center justify-content-evenly"  >
        <div class="w-20rem"><p>{{'userContact.phoneCallP' | transloco}}</p></div>
        <div><p-inputSwitch  class="m-4"></p-inputSwitch></div>
      </div>
     </div>
    </div>
   <div class="align-items-center justify-content-center border-round m-2">
    <p class="flex flex-wrap">
      {{'userContact.textP' | transloco}}
    </p>
  </div>
    <div class="flex flex-column w-full bg-gray-200 p-4 border-1 border-round">
      <div class="align-content-center justify-content-evenly">
        <div><h4 class="block">{{'userContact.whatsapp' | transloco}}</h4></div>
        <div class="flex flex-row align-content-center align-items-center justify-content-evenly"  >
          <div class="w-20rem"><p>{{'userContact.whatsappP' | transloco}}</p></div>
          <div><p-inputSwitch  class="m-4"></p-inputSwitch></div>
        </div>
       </div>
    </div>
  </div>
</div>
