<form class="container  " [formGroup]="newpassForm">
  <div class="row">
    <div class="header ">
      <p class="flex flex-wrap">
        {{'userpassForm.infoP' | transloco}}
      </p>
    </div>
   <div class="flex">
    <span class="p-float-label">
      <i class="pi pi-lock" style="color: #000"></i>
      <input pInputText id="currentPassword" formControlName="currentPassword" />
      <label htmlFor="currentPassword">{{'userpassForm.currentPass' | transloco}}</label>
    </span>
   </div>
   <div class="flex ">
    <span class="p-float-label">
      <i class="pi pi-lock" style="color: #000"></i>
      <input pInputText id="newPassword" formControlName="newPassword" />
      <label htmlFor="newPassword">{{'userpassForm.newPass' | transloco}}</label>
    </span>
   </div>
   <div>
    <p class="flex text-danger">
      {{'userpassForm.warnP' | transloco}}
    </p>
  </div>
    <div class="flex">
      <span class="button-style">
        <button pButton class="button">{{'userpassForm.buttonLabel' | transloco}}</button>
      </span>
    </div>

  </div>
</form>
