<div class="box">
 <div class="form">
  <form class="container" [formGroup]="newpassForm">
    <div class="row">
      <div class="header">
        <h2>
          {{ "userpassForm.header" | transloco }}
        </h2>
      </div>
      <div class="flex w-full">
        <span class="p-float-label">
          <i class="pi pi-lock" style="color: #000"></i>
          <p-password
            id="currentPassword"
            formControlName="currentPassword"
            styleClass="password"
            [toggleMask]="true"
            [feedback]="false"
          />
          <label htmlFor="currentPassword">{{
            "userpassForm.currentPass" | transloco
          }}</label>
        </span>
        <small
        *ngIf="
          newpassForm.get('currentPassword')?.invalid &&
          newpassForm.get('currentPassword')?.touched
        "
        class="text-red-500"
      >
        {{
          newpassForm.get("currentPassword").errors != null &&
          newpassForm.get("currentPassword").errors["whitespace"]
            ? ("registerForm.confirmSmall" | transloco)
            : ""
        }}
         {{
          newpassForm.get("currentPassword").errors != null &&
          newpassForm.get("currentPassword").hasError("minlength")
            ? ("registerForm.passwordSmallLength" | transloco)
            : ""
        }}
        {{
          newpassForm.get("currentPassword").errors != null &&
          newpassForm.get("currentPassword").errors["required"]
            ? ("registerForm.passwordSmall" | transloco)
            : ""
        }}
      </small>
      </div>
      <div class="flex w-full">
        <span class="p-float-label">
          <i class="pi pi-lock" style="color: #000"></i>
          <p-password
            id="password"
            formControlName="password"
            styleClass="password"
            [toggleMask]="true"
          >
            <ng-template pTemplate="header">
              <h6>{{ "userpassForm.selectpass" | transloco }}</h6>
            </ng-template>
            <ng-template pTemplate="footer">
              <p-divider></p-divider>
              <p class="mt-2">{{ "userpassForm.suggestions" | transloco }}</p>
              <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                <li>{{ "userpassForm.lowercase" | transloco }}</li>
                <li>{{ "userpassForm.uppercase" | transloco }}</li>
                <li>{{ "userpassForm.numeric" | transloco }}</li>
                <li>{{ "userpassForm.8character" | transloco }}</li>
                <li>
                  <p class="text-danger ml-0">
                    {{ "userpassForm.warnP" | transloco }}
                  </p>
                </li>
              </ul>
            </ng-template>
          </p-password>
          <label htmlFor="password">{{
            "userpassForm.newPass" | transloco
          }}</label>
        </span>
      </div>
      <small
      *ngIf="
        newpassForm.get('password')?.invalid &&
        newpassForm.get('password')?.touched
      "
      class="text-red-500"
    >
      {{
        newpassForm.get("password").errors != null &&
        newpassForm.get("password").errors["whitespace"]
          ? ("registerForm.confirmSmall" | transloco)
          : ""
      }}
       {{
        newpassForm.get("password").errors != null &&
        newpassForm.get("password").hasError("minlength")
          ? ("registerForm.passwordSmallLength" | transloco)
          : ""
      }}
      {{
        newpassForm.get("password").errors != null &&
        newpassForm.get("password").errors["required"]
          ? ("registerForm.passwordSmall" | transloco)
          : ""
      }}
    </small>
      <div class="flex w-full">
        <span class="p-float-label">
          <i class="pi pi-lock" style="color: #000"></i>
          <p-password
            id="confirmpassword"
            formControlName="confirmpassword"
            styleClass="password"
            [toggleMask]="true"
          >
            <ng-template pTemplate="header">
              <h6>{{ "userpassForm.selectpass" | transloco }}</h6>
            </ng-template>
            <ng-template pTemplate="footer">
              <p-divider></p-divider>
              <p class="mt-2">{{ "userpassForm.suggestions" | transloco }}</p>
              <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                <li>{{ "userpassForm.lowercase" | transloco }}</li>
                <li>{{ "userpassForm.uppercase" | transloco }}</li>
                <li>{{ "userpassForm.numeric" | transloco }}</li>
                <li>{{ "userpassForm.8character" | transloco }}</li>
                <li>
                  <p class="text-danger ml-0">
                    {{ "userpassForm.warnP" | transloco }}
                  </p>
                </li>
              </ul>
            </ng-template>
          </p-password>
          <label htmlFor="confirmpassword">{{
            "userpassForm.newCPass" | transloco
          }}</label>
        </span>
      </div>
      <small
      *ngIf="
        newpassForm.get('confirmpassword')?.invalid &&
        newpassForm.get('confirmpassword')?.touched
      "
      class="text-red-500"
    >
      {{
        newpassForm.get("confirmpassword").errors != null &&
        newpassForm.get("confirmpassword").errors["whitespace"]
          ? ("registerForm.confirmSmall" | transloco)
          : ""
      }}
       {{
        newpassForm.get("confirmpassword").errors != null &&
        newpassForm.get("confirmpassword").hasError("minlength")
          ? ("registerForm.passwordSmallLength" | transloco)
          : ""
      }}
      {{
        newpassForm.get("confirmpassword").errors != null &&
        newpassForm.get("confirmpassword").errors["required"]
          ? ("registerForm.passwordSmall" | transloco)
          : ""
      }}
    </small>
      <div *ngIf="newpassForm.get('confirmpassword').value?.length >= 8 && newpassForm.get('password').value?.length >= 8">
        <small *ngIf="newpassForm.get('password').value !== newpassForm.get('confirmpassword').value" class="block text-red-500">
           {{ 'registerForm.confirmSmallSecond' | transloco }}
        </small>
     </div>
      <div class="flex w-full">
        <span class="button-style">
          <button pButton class="button" (click)="onSubmit()">
            {{ "userpassForm.buttonLabel" | transloco }}
          </button>
        </span>
      </div>
    </div>
  </form>
 </div>

</div>
