.conatiner {
  width: 100%;
}

.card{
  justify-content: center;
  width: 90%;
  float: right;
  overflow: auto; /* Yatay kaydırmayı etkinleştir */
  white-space: nowrap;
  margin-right: 20px;
  margin-bottom: 20px;
}
