$primary-color: #3498db;
$secondary-color: #1071b3;
$danger-color: #e74c3c;
$dark-text: #34495e;
$light-text-second: #c0ddfb;
$light-text: #ecf0f1;
$light-text-hover: #91c9d7;
$background-color: #ecf0f1;
$module-color:#253741;
.header {
  width: 100%;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  background-color: $module-color;
  position: relative;
  margin-bottom: 50px;
  display: flex;
  color: $background-color;

  h1{
    color: $background-color;
    margin-left: 20px;
    margin-top: 5px;
  }
}

.custom-select{
  color: $background-color;
  border: none;
  background: transparent;
  margin-right: 20px;
  appearance: none;
  border: none;
  font-weight: bold;
  padding: 5px;
}
.footer {
  position: relative;
  width: 100%;
  bottom: -120px;
  min-height: 80px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer p {
  color: $module-color;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background-size: 1000px 100px;
}

