.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .register-header {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
      h2 {
        font-size: 1.5rem;
        color: #333;
      }
    }

    .wrapper {
      width: 100%;
      max-width: 400px;
      margin-bottom: 20px;
      position: relative;

      .p-float-label {
        width: 100%;

        input {
          width: 100%;
          padding: 15px;
          font-size: 0.7rem;
          border: 1px solid #ccc;
          border-radius: 4px;
          transition: border-color 0.3s;
          box-sizing: border-box;

          &:focus {
            outline: none;
            border-color: #007bff;
          }
        }

        label {
          font-size: 1rem;
          color: #333;
        }

        .pi {
          position: absolute;
          left: 10px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 1rem;
          color: #333;
        }
      }

      small {
        font-size: 0.8rem;
        color: #ff0000;
        margin-top: 5px;
        display: block;
      }
    }

    .button-style {
      width: 100%;
      max-width: 400px;
      text-align: center;
      margin-top: 20px;

      button {
        width: 100%;
        padding: 15px;
        background-color: #007bff;
        color: #fff;
        font-size: 1rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
}

:host ::ng-deep{
  .password.p-password{
    .p-password-panel{
      background-color: #fff;
    }
    .p-element {
      width: 90%;
      &:focus {
        outline: none;
        border-color: #007bff;

      }
    }
  }
}
