
.container {
  width: 100%;
  min-height: 75vh;
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  backdrop-filter: blur(8px);
}

.container form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  width: 650px;
  margin: 15px;
  align-items: center;

   // Ekran daraldıkça genişliği sıfırla
   @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.container form input{
  padding-left: 40px;
}
.register-header h2{
  margin-left: 150px;

   // Ekran daraldıkça sola kaydır
   @media screen and (max-width: 768px) {
    margin-left: 0;
  }
}
.container form .wrapper{
  margin: 15px;

  // Ekran daraldıkça boşlukları azalt
  @media screen and (max-width: 768px) {
    margin: 10px;
  }
}
a {
  text-decoration: underline;
  color: #000;
}

a:hover{
  color:#176b87;
}

