<div class="container">
  <form [formGroup]="adduserForm">
    <div
      class="register-header block justify-content-center align-content-center align-items-center text-2xl w-full"
      style="background: transparent"
    >
      <h2>Kullanıcı ekle</h2>
    </div>

    <!-- Name input start-->

    <div class="wrapper">
      <span class="p-float-label mt-4">
        <i class="pi pi-user" style="color: #000"></i>
        <input
          pInputText
          id="name"
          formControlName="name"
          pTooltip="{{'adduserForm.nameTooltip' | transloco }}"
        />
        <label htmlFor="name"> {{"adduserForm.nameLabel" | transloco }} </label>
      </span>
      <small
        *ngIf="
        adduserForm.get('name')?.invalid &&
        adduserForm.get('name')?.touched
        "
        class="text-red-500"
      >
        {{
          adduserForm.get("name").errors != null &&
          adduserForm.get("name").errors["whitespace"]
            ? ("adduserForm.nameSmall" | transloco)
            : ""
        }}
        {{
          adduserForm.get("name").errors != null &&
          adduserForm.get("name").errors["required"]
            ? ("adduserForm.nameSmall" | transloco)
            : ""
        }}
      </small>
    </div>
    <!-- Name input end-->

    <!-- Username input start-->
    <div class="wrapper">
      <span class="p-float-label mt-4">
        <i class="pi pi-user" style="color: #000"></i>
        <input
          pInputText
          id="username"
          formControlName="username"
          pTooltip="{{'adduserForm.usernameTooltip' | transloco }}"
        />
        <label htmlFor="username">{{
          "adduserForm.usernameLabel" | transloco
        }}</label>
      </span>
      <small
        *ngIf="
        adduserForm.get('username')?.invalid &&
        adduserForm.get('username')?.touched
        "
        class="text-red-500"
      >
        {{
          adduserForm.get("username").errors != null &&
          adduserForm.get("username").errors["whitespace"]
            ? ("adduserForm.usernameSmall" | transloco)
            : ""
        }}
        {{
          adduserForm.get("username").errors != null &&
          adduserForm.get("username").errors["required"]
            ? ("adduserForm.usernameSmall" | transloco)
            : ""
        }}
      </small>
    </div>
    <!-- Username input end-->

    <!-- email input start-->
    <div class="wrapper">
      <span class="p-float-label mt-4">
        <i class="pi pi-envelope" style="color: #000"></i>
        <input
          pInputText
          id="email"
          formControlName="email"
          pTooltip="{{'adduserForm.emailTooltip' | transloco }}"
        />
        <label htmlFor="email">{{
          "adduserForm.emailLabel" | transloco
        }}</label>
      </span>
      <small
        *ngIf="
        adduserForm.get('email')?.invalid &&
        adduserForm.get('email')?.touched
        "
        class="text-red-500"
      >
        {{
          adduserForm.get("email").errors != null &&
          adduserForm.get("email").errors["whitespace"]
            ? ("adduserForm.emailSmall" | transloco)
            : ""
        }}
        {{
          adduserForm.get("email").errors != null &&
          adduserForm.get("email").errors["required"]
            ? ("adduserForm.emailSmall" | transloco)
            : ""
        }}
      </small>
    </div>
    <!-- email input end-->

    <!-- phone input start-->
    <div class="wrapper">
      <span class="p-float-label mt-4">
        <i class="pi pi-phone" style="color: #000"></i>
        <input
          pInputText
          id="phone"
          formControlName="phone"
          pTooltip="{{'adduserForm.phoneTooltip' | transloco }}"
        />
        <label htmlFor="phone">{{
          "adduserForm.phoneLabel" | transloco
        }}</label>
      </span>
      <small
        *ngIf="
        adduserForm.get('phone')?.invalid &&
        adduserForm.get('phone')?.touched
        "
        class="text-red-500"
      >
        {{
          adduserForm.get("phone").errors != null &&
          adduserForm.get("phone").errors["whitespace"]
            ? ("adduserForm.phoneSmall" | transloco)
            : ""
        }}
        {{
          adduserForm.get("phone").errors != null &&
          adduserForm.get("phone").errors["required"]
            ? ("adduserForm.phoneSmall" | transloco)
            : ""
        }}
      </small>
    </div>
    <!-- phone input end-->

    <!-- password input start-->
    <div class="wrapper">
      <span class="p-float-label mt-4">
        <i class="pi pi-lock" style="color: #000"></i>
        <p-password
          id="password"
          formControlName="password"
          pTooltip="{{'adduserForm.passwordTooltip' | transloco }}"
        ></p-password>
        <label htmlFor="password">{{
          "adduserForm.passwordLabel" | transloco
        }}</label>
      </span>
      <small
        *ngIf="
        adduserForm.get('password')?.invalid &&
        adduserForm.get('password')?.touched
        "
        class="text-red-500"
      >
        {{
          adduserForm.get("password").errors != null &&
          adduserForm.get("password").errors["whitespace"]
            ? ("adduserForm.passwordSmall" | transloco)
            : ""
        }}
        {{
          adduserForm.get("password").errors != null &&
          adduserForm.get("password").errors["required"]
            ? ("adduserForm.passwordSmall" | transloco)
            : ""
        }}
      </small>
    </div>
    <!-- password input end-->

    <!-- confirm password input start-->
    <div class="wrapper">
      <span class="p-float-label mt-4">
        <i class="pi pi-lock" style="color: #000"></i>
        <p-password
          id="confirmpassword"
          formControlName="confirmpassword"
          pTooltip="{{'adduserForm.confirmTooltip' | transloco }}"
        ></p-password>
        <label htmlFor="confirmpassword"
          >{{ "adduserForm.confirmLabel" | transloco }}
        </label>
      </span>
      <small
        *ngIf="
        adduserForm.get('confirmpassword')?.invalid &&
        adduserForm.get('confirmpassword')?.touched
        "
        class="text-red-500"
      >
        {{
          adduserForm.get("confirmpassword").errors != null &&
          adduserForm.get("confirmpassword").errors["whitespace"]
            ? ("adduserForm.confirmSmall" | transloco)
            : ""
        }}
        {{
          adduserForm.get("confirmpassword").errors != null &&
          adduserForm.get("confirmpassword").errors["required"]
            ? ("adduserForm.confirmSmall" | transloco)
            : ""
        }}
      </small>
      <span>
        <small
          *ngIf="
          adduserForm.get('password').value !=
          adduserForm.get('confirmpassword').value
          "
          class="block text-red-500"
        >
          {{
            adduserForm.get("confirmpassword").errors != null &&
            adduserForm.get("confirmpassword").errors["required"]
              ? ("adduserForm.confirmSmallSecond" | transloco)
              : ""
          }}
        </small>
      </span>
    </div>
    <!-- confirm password input end-->
    <!-- button start-->
    <span class="button-style mt-4">
      <button class="button w-12rem" (click)="onSubmit()">
        {{ "adduserForm.buttonLabel" | transloco }}
      </button>
    </span>
    <!-- button end-->
  </form>
</div>
